<%= form_for ([@forum,@question]),html: { class: 'form-horizontal'} do |f| %>
    <div class="form-group">
      <label for="inputtitle" class="col-sm-2 col-md-2 control-label">Title</label>
      <div class="col-sm-10 col-md-10">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div><!--
    <div class="form-group">
      <label for="selecttheme" class="col-sm-2 col-md-2 control-label">Major</label>
      <div class="col-sm-10 col-md-10">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>-->
    <div class="form-group">
      <label for="forumnewquestion" class="col-sm-2 col-md-2 control-label">Question</label>
      <div class="col-sm-10 col-md-10">
        <%= f.cktext_area :content, row: 10,:ckeditor => {:toolbar => 'mini'} %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputtag" class="col-sm-2 col-md-2 control-label">Tags</label>
      <div class="col-sm-10 col-md-10">
        <%= f.text_field :all_tags,'data-role' => 'tagsinput',class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <% if params[:action] != 'edit' %>
            <%= f.submit 'Ask Question',class: 'btn btn-primary  pull-right' %>
        <% else %>
            <%= f.submit 'Edit Question',class: 'btn btn-primary  pull-right' %>
        <% end %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  CKEDITOR.replace( 'editor1', { toolbar : [ [ 'EqnEditor', 'Bold', 'Italic' ] ] });
</script>
