<%= render 'layouts/header' %>

<section class="container">
  <div class="row mycontainer">
    <div class="col-sm-8 col-md-8">

      <%= render 'questions/form' %>

    </div>
    <div class="col-sm-4 col-md-4 well">
      <h3>How to Ask</h3>
      <ul class="form-new-question-help">
        <li>for linebreak add 2 spaces at end</li>
        <li>_italic_ or **bold**</li>
        <li>indent code by 4 spaces</li>
        <li>to make links

          [foo](http://foo.com)
          <a href="http://foo.com">foo</a></li>
        <li>basic HTML also allowed</li>
      </ul>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
