<%= render 'layouts/header'%>
<section class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <div id="PageTitle">
            <h3>Форум</h3>
          </div>
          <div id="Path">
            <ul>
              <li><%= link_to root_path do %> <i class="fa fa-home"></i> <% end %></li>
              <li class=""><%= link_to 'Форум',forums_path %></li>
              <li class="active"><a href=""><%= @forum.title %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
          <%= link_to t('forum.question_new'), new_forum_question_path, id: 'forum-ask', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container forum-in">
    <div class="col-md-10">
      <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#new" data-toggle="tab"><%= t('forum.new') %></a></li>
          <li><a href="#pop" data-toggle="tab"><%= t('forum.popular') %></a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="new">
            <ul id="timeline">
              <% @questions.each do |question| %>
                  <%= link_to(forum_question_url(@forum,question)) do %>
                      <li class="listing clearfix">
                        <div class="image_wrapper">
                          <%= image_tag question.user.image, class: 'img-thumbnail', title: question.user.name %>
                        </div>
                        <div class="info">
                          <span class="ask_info"><%= question.user.name %>  <span>&bull;</span> <%= time_ago_in_words(question.created_at) %> <%= t('forum.time.ago') %> </span>
                          <span class="fm_title"><%= question.title%></span>
                          <div class="tag-post">
                            <% question.tags.each do |tag| %>
                                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-tag"></i><b><%= tag.name%></b></a>
                            <% end %>
                          </div>
                        </div>
                        <ul>
                          <li><span class="fm-answer"><i class="fa fa-eye fa-2x"></i></span><span class="fm-answer"><%= question.view %></span></li>
                          <li><span class="fm-answer"><i class="fa fa-pencil-square-o fa-2x"></i></span><span class="fm-answer"><%= question.answers.count %></span></li>
                        </ul>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane" id="pop">
            <ul id="timeline">
              <% @populars.each do |question| %>
                  <%= link_to(forum_question_url(@forum,question)) do %>
                      <li class="listing clearfix">
                        <div class="image_wrapper">
                          <%= image_tag question.user.image, class: 'img-thumbnail' %>
                        </div>
                        <div class="info">
                          <span class="ask_info"><%= question.user.name %>  <span>&bull;</span> <%= time_ago_in_words(question.created_at) %> <%= t('forum.time.ago') %> </span>
                          <span class="fm_title"><%= question.title%><!-- <%= link_to question.title,forum_question_url(@forum,question) %>--></span>
                          <div class="tag-post">
                            <% question.tags.each do |tag| %>
                                <a href="#" class="btn btn-primary btn-xs" role="button"><i class="fa fa-tag"></i><b><%= tag.name%></b></a>
                            <% end %>
                          </div>
                        </div>
                        <ul>
                          <li><span class="fm-answer"><i class="fa fa-eye fa-2x"></i></span><span class="fm-answer"><%= question.view %></span></li>
                          <li><span class="fm-answer"><i class="fa fa-pencil-square-o fa-2x"></i></span><span class="fm-answer"><%= question.answers.count %></span></li>
                        </ul>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <form action="<%= forum_questions_path(@forum) %>" method="get">
          <div class="input-group">
             <span class="input-group-addon">
              <i class="fa fa-search"></i>
             </span>
             <%= text_field_tag :tags, params[:tags],class: 'form-control',placeholder: t('navbar.search') %>
          </div>
        </form>
        <div class="tag-list well">
          <h5><i class="fa fa-tags"></i>Теги</h5>
          <% @tags.each do |tag| %>
              <%= link_to forum_questions_path(tags: tag.name),class: 'btn btn-primary btn-xs',role: 'button' do %>
                <b><%= tag.name %></b><small>(<%= tag.questions.count %>)</small>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>
