 <%= render 'layouts/header' %>
 <section class="intro">
   <div class="dark">
     <div id="PagePath">
       <div class="container">
         <div class="col-sm-9 col-md-9 col-lg-9">
           <div id="PageTitle">
             <h3>Форум</h3>
           </div>
           <div id="Path">
             <ul>
               <li><a href=""><i class="fa fa-home"></i></a></li>
               <li class=""><a href="">Форум</a></li>
               <li class="active"><a href=""><%= @forum.title %></a></li>
             </ul>
           </div>
         </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
           <%= link_to t('forum.question_new'), new_forum_question_path(@forum), class: 'btn btn-primary btn-block', id: 'forum-ask' %>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section class="container">
     <div class="post-content">
       <h1><%= @question.title %></h1>
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <div class="forum-post">
           <div class="fm-post-vote">
             <ul>
               <li><%= link_to vote_question_up_forum_questions_path(@forum,@question), remote: true, method: :post ,title: t('forum.vote_up'), onclick: 'voteUp()' do %><i class="fa fa-caret-up fa-3x"></i><% end %></li>
               <li><span class="question_vote"><%= @question.grade %></span></li>
               <li><%= link_to vote_question_down_forum_questions_path(@forum,@question), remote: true, method: :post ,title: t('forum.vote_down'), onclick: 'voteDown()' do %><i class="fa fa-caret-down fa-3x"></i><% end %></li>
             </ul>
           </div>
           <div class="fm-post-body">
             <p class="lead">
                <a href="#"><%= @question.user.name %></a>
             </p>
             <p>
               <i class="fa fa-calendar"></i>
               <span> <%= time_ago_in_words(@question.created_at)  %> <%= t('forum.time.ago') %></span>
             </p>
             <p>
             <%= @question.content.html_safe %>
             </p>
             <div class="tag-post">
               <% @tags.each do |tag| %>
                   <%= link_to forum_questions_path(tags: tag.name), class: 'btn btn-primary btn-xs', role: 'button' do %>
                      <i class="fa fa-tag"></i><b><%= tag.name %></b>
                   <% end %>
               <% end %>
             </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-12">
             <%= render 'comments/comment' %>
             <%= link_to t('forum.add_comment'),new_forum_question_comment_path(@forum,@question),remote: true %>
           </div>
         </div>
         <%= render 'answers/answer' %>
         <div class="mycontainer">
           <%= render 'answers/form'%>
         </div>
       </div>
       <div class="mycontainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
       <div class="list-group">
         <a href="#" class="list-group-item disabled"><span class="badge" id="answers_count"> <%= @question.answers.count %></span><span class="fm-answer"><i class="fa fa-pencil-square-o fa-2x"></i></span></a>
         <a href="#" class="list-group-item  disabled"><span class="badge"> <%= @question.view %></span><span class="fm-answer"><i class="fa fa-eye fa-2x"></i></span></a>
       </div>
       <h3><%= t('forum.offer') %></h3>
       <div class="list-group">
         <% @tags.each do |tag| %>
             <% tag.questions.each do |question| %>
                 <% if question.title != @question.title %>
                     <%= link_to forum_question_path(@forum,question), class: 'list-group-item' do %>
                         <span class="badge"></span><%= question.title %>
                     <% end %>
                 <% end %>
             <% end %>
         <% end %>
       </div>
     </div>
     </div>
   </div>
 </section>
 <section>
   <div class="container">
     <div class="row">
       <div id="share">
         <div class="fab btn-group show-on-hover dropup">
           <div data-toggle="tooltip" data-placement="left" title="Share">
             <button type="button" class="btn btn-info btn-io dropdown-toggle" data-toggle="dropdown">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                  <i class="fa fa-share-alt fa-stack-1x fa-inverse fab-primary"></i>
                  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse fab-secondary"></i>
              </span>
             </button>
           </div>
           <ul class="dropdown-menu dropdown-menu-right" role="menu">
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Youtube"><i class="fa fa-youtube"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Instagram"><i class="fa fa-instagram"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="VK"><i class="fa fa-vk"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Odnoklassniki"><i class="fa fa-odnoklassniki"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Twitter"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" data-toggle="tooltip" data-placement="left" title="GooglePlus"><i class="fa fa-google-plus"></i></a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </section>
 <%= render 'layouts/footer' %>

 <script>
   function voteUp() {
     var value = $('.question_vote').text();
     <% if user_signed_in? %>
      value = parseInt(value) + 1;
     <% else %>
      alert("Please sign in!")
     <% end %>
     $('.question_vote').text(value);
     value = '';
     console.log("voteUp()");
   }

   function voteDown(){
     var value = $('.question_vote').text();
     <% if user_signed_in? %>
      value = parseInt(value) - 1;
     <% else %>
      alert("Please sign in!")
     <% end %>
     $('.question_vote').text(value);
     value = '';
     console.log("voteDown()");
   }
 </script>



 <script type="text/javascript">$(document).ready(function() {
   if ($('textarea').length > 0) {
     var data = $('textarea');
     $.each(data, function(i) {
       CKEDITOR.replace(data[i].id);
     });
   }
 });</script>
