<div class="headline">
  <div class="container">
    <div class="row">
      <div class="header_left">
        <ul>
          <li>
            <select name="language" id="language" onclick="setLocale()">
              <option value="ru">РУ</option>
              <option value="kg">KГ</option>
            </select>
          </li>
          <li><a data-toggle="modal" data-target="#contact-us"><i class="fa fa-question-circle"></i></a></li>
        </ul>
      </div>
      <div class="header_right">
        <ul class="social-icons">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-vk"></i></a></li>
          <li><a href=""><i class="fa fa-odnoklassniki"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><%= image_tag 'LogoORT.png' %></a>
  </div>
  <!-- /.navbar-header -->
  <ul class="nav navbar-top-links navbar-right">

    <li class="dropdown">
      <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <%= current_user.first_name %>
        <span class=" fa fa-angle-down"></span>
      </a>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <!-- menu prile quick info -->
      <div class="profile_div">
        <div class="profile_pic">
          <%= image_tag current_user.image, class: 'img-circle profile_img' %>
        </div>
        <div class="profile_info">
          <span></span>
          <h2><%= current_user.name %></h2>
        </div>
      </div>
      <!-- /menu prile quick info -->
      <ul class="nav" id="side-menu">
        <li>
          <%= link_to root_path do %><i class="fa fa-home fa-2x"></i><%= t('navbar.home') %> <% end %>
          <%= link_to t('navbar.jrt'),profiles_path %>
          <%= link_to t('ort.mathematic'), math_profiles_path %>
          <%= link_to t('ort.analogy'), analogy_profiles_path %>
          <%= link_to t('ort.grammar'), grammar_profiles_path %>
          <%= link_to t('ort.reading'), reading_profiles_path %>
          <%= link_to t('user.logout'), destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete %>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>