<div class="row mycontainer">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-file-text-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"> ОРТ</div>
            <div class="huge"><%= @best_ort_score %></div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"><%= time_ago_in_words (@best_ort_score_date.created_at) unless @best_ort_score.nil? %> <%= t('forum.time.ago') %></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">ФОРУМ</div>
            <div class="huge"><%= current_user.questions.count + current_user.answers.count + current_user.comments.count + current_user.answer_comments.count %></div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>