<div id="profile">
  <%= render 'profiles/header' %>
  <div id="profile-body">
    <%= render 'profiles/ort_score' %>
    <!-- /.row -->
    <div class="row">
      <div class="col-md-12 panel">
        <div class="col-md-6">
          <h3><i class="fa fa-bar-chart-o fa-fw"></i> <%= @ort.name %> Рейтинг</h3>
        </div>
        <div class="col-md-6">
          <div id="reportrange" class="form-group pull-right" style="margin: 15px;background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <label for="sel1"><%= t('ort.choose_test') %>:</label>
            <select class="form-control" id="chooseOrtTest" onchange="changeOrtRating()">
              <option value=""></option>

              <% @orts.each do |ort_id| %>
                  <option value="<%= ort_id %>"><%= link_to Ort.find(ort_id).name, profiles_path(id: ort_id) %></option>
              <% end %>

            </select>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-md-12">
          <div class="panel">
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div id="container" style="width: 100%;">
                <canvas id="canvas"></canvas>
              </div>
            </div>
            <!-- /.panel-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-wrapper -->
</div>
<%= render 'layouts/footer' %>

<script>

  var randomScalingFactor = function () {
    return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
  };
  var randomColorFactor = function () {
    return Math.round(Math.random() * 255);
  };
  var randomColor = function () {
    return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
  };

  var barChartData = {
    labels: <%= @users.to_json.html_safe %>,
    datasets: [{
      label: '<%= @ort.name %>',
      backgroundColor: "rgba(220,220,220,0.5)",
      data: <%= @grades.to_a %>
    }]

  };

  $(document).ready(function () {
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx, {
      type: 'line',
      data: barChartData,
      options: {
        // Elements options apply to all of the options unless overridden in a dataset
        // In this case, we are setting the border of each bar to be 2px wide and green
        elements: {
          rectangle: {
            borderWidth: 2,
            borderColor: 'rgb(100, 221, 144)',
            borderSkipped: 'bottom'
          }
        },
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: ""
        }
      }
    });
  });

  function changeOrtRating() {
    var id = document.getElementById("chooseOrtTest");
    window.location.replace("<%= request.base_url %>/profiles?id=" + id.value);
  }

</script>
