<%= render 'layouts/header' %>

<section class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <div id="PageTitle">
            <h3>Форум</h3>
          </div>
          <div id="Path">
            <ul>
              <li><a href=""><i class="fa fa-home"></i></a></li>
              <li class="active"><a href="">Форум</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>
</section>

<table class="table table-condensed">
  <tbody>


  </tbody>
</table>


<section>
  <div class="container forum-in">




    <% @categories.each do |category| %>
        <div class="fm-theme col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="fm-hovereffect">
            <%= image_tag category.image.url,class: 'img-responsive' %>
            <div class="overlay">
              <h2><%= category.title %></h2>
              <%= link_to t('forum.more'),forum_questions_path(category),class: 'info' %>

            </div>
          </div>
        </div>
    <% end %>


    <div class="fm-theme col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="fm-hovereffect">
        <%= image_tag 'READING.jpg', class: 'img-responsive'%>
        <div class="overlay">
          <h2>English: IELTS & TOEFL</h2>
          <a class="info" href="#">Подробнее</a>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>


<%= render 'layouts/footer' %>