<%= render 'layouts/header' %>

<section class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <div id="PageTitle">
            <h3>Форум</h3>
          </div>
          <div id="Path">
            <ul>
              <li><a href=""><i class="fa fa-home"></i></a></li>
              <li class=""><%= link_to 'Форум', forums_path %></li>
              <li class="active"><a href="">Задать Вопрос?</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row mycontainer">
    <div class="col-sm-8 col-md-8">

      <%= render 'forums/forum' %>

    </div>
    <div class="col-sm-4 col-md-4 well">
      <h3>How to Ask</h3>
      <ul class="form-new-question-help">
        <li>for linebreak add 2 spaces at end</li>
        <li>_italic_ or **bold**</li>
        <li>indent code by 4 spaces</li>
        <li>to make links

          [foo](http://foo.com)
          <a href="http://foo.com">foo</a></li>
        <li>basic HTML also allowed</li>
      </ul>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>