<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
       <%= f.text_field :name , autocomplete: "off", class: 'form-control', required: true, placeholder: 'ФИО' %>
    </div>
    <div class="form-group">
       <label class="control-label col-sm-3">Пол </label>
       <label class="radio-inline">
          <%= f.radio_button :pol, 'male' %> Мужской
      </label>
      <label class="radio-inline">
          <%= f.radio_button :pol, 'female' %> Женский
      </label>
    </div>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail адрес', required: true %>
      <span class="help-block">example@example.com</span>
    </div>
    <div class="form-group">
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Пароль', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Пароль (подтверждение)", class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block"><%= t('user.sign_up') %></button>
    </div>
<% end %>





