 <div class="media">
    <div class="media-heading"></div>
    <div>
      <p> <%= @comment.content %> <span>-<a href="#"> <%= @comment.user.try(:name) %></a>  </span><span> <%= time_ago_in_words(@comment.created_at) unless @comment.created_at.blank? %> <%= t('forum.time.ago') %></span></p>
      <div class="comment-meta">
        <% if @comment.user_id == current_user.id %>
            <span><%= link_to t('forum.delete'), [@forum,@question,@comment],method: :delete , remote: true %></span>
            <span><%= link_to t('forum.edit'),edit_forum_question_comment_path(@forum,@question,@comment), remote: true %></span>
        <% end %>
      </div><!-- comment-meta -->
    </div><!-- collapse -->
 </div><!-- media -->
 <div class="comment-<%= @comment.id %>"></div>