<div class="row">
  <div class="comment-index">
    <!-- First Comment -->
    <%= render 'comments/index' %>
    <!-- Second Comment --><!-- media -->
  </div>
  <div class="comment-new"></div>

</div>
