$("ul.errors").html("")
$("textarea.form-control").val("")
<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
 $("div.comment-new").hide()
 $(".comment-index").html("<%= j (render 'comments/index') %>")
<% end %>
