<div class="testing-radio">
  <%= form_tag check_part_one_ort_mathematic_quizzes_path, remote: :true do %>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'А', checked = false, id: 'А') %>
        <%= label_tag "answer_А", @question.a , for: 'А' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", @question.b, checked = false, id: 'Б') %>
        <%= label_tag "answer_Б", @question.b, for: 'Б' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'В', checked = false, id: 'В') %>
        <%= label_tag "answer_В", @question.c, for: 'В' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'Г', checked = false, id: 'Г') %>
        <%= label_tag "answer_Г", @question.d, for: 'Г' %>
      </div>


      <center>
        <ul class="pagination">
          <li> <%= link_to "Мурунку суроо", previous_part_one_ort_mathematic_quizzes_path, remote: true, class: 'btn btn-primary'%></li>
          <li> <%= submit_tag "Кийинки суроо", class: 'btn btn-primary' %></li>
        </ul>
      </center>


  <% end %>
</div>