<%= render 'layouts/header' %>
<section  class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div id="PageTitle">
          <h3><%= t('ort.practise_online') %>!</h3>
        </div>
        <div id="Path">
          <ul>
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li class="active"><a href=""><%= t('ort.practise_online') %>!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="mycontainer">
    <input type="checkbox" checked data-toggle="toggle" id="toggleLocale" data-style="ios" data-on="КГ" data-off="РУ">
    <h2><%= t('ort.practice') %></h2>
    <% @orts.each do |ort| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="ort-hovereffect">
            <%= image_tag 'exam.jpg', class: 'img-responsive' %>
            <div class="overlay">
              <h2><%= ort.name %></h2>
              <p>
                <%= link_to t('quiz.start'),kolonka_ort_mains_path(id: ort), class: 'btn btn-block btn-info'  %>
              </p>
            </div>
          </div>
        </div>
    <% end %>

  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3 class="partsofort">Математика</h3>
        <table>
          <tr>
            <td><%= t('ort.total_question') %>:</td>
            <td>60</td>
          </tr>
          <tr>
            <td><%= t('ort.time') %>:</td>
            <td>  90 мин</td>
          </tr>
        </table>
        <% if @maths.empty? %>
            <button class="btn btn-info pull-right">Тест жок</button>
        <% else %>
            <% @maths.each do |test| %>
                <%= link_to t('quiz.start') + ' '  + test.name, part_one_ort_mathematic_quizzes_path(id: test) , class: 'btn btn-info pull-right', target: '_blank' %>
            <% end %>
        <% end %>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3 class="partsofort"><%= t('ort.analogy') %></h3>
        <table>
          <tr>
            <td><%= t('ort.total_question') %>:</td>
            <td>30</td>
          </tr>
          <tr>
            <td><%= t('ort.time') %>:</td>
            <td>  30 мин</td>
          </tr>
        </table>
        <% if @analogies.empty? %>
            <button class="btn btn-info pull-right">Тест жок</button>
        <% else %>
            <% @analogies.each do |test| %>
                <%= link_to t('quiz.start') + ' '  + test.name, ort_analogy_quizzes_path(id: test), class: 'btn btn-info pull-right', target: '_blank' %>
            <% end %>
        <% end %>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3 class="partsofort"><%= t('ort.grammar') %></h3>
        <table>
          <tr>
            <td><%= t('ort.total_question') %>:</td>
            <td>30</td>
          </tr>
          <tr>
            <td><%= t('ort.time') %>:</td>
            <td>  30 мин</td>
          </tr>
        </table>
        <% if @grammars.empty? %>
            <button class="btn btn-info pull-right">Тест жок</button>
        <% else %>
            <% @grammars.each do |test| %>
                <%= link_to t('quiz.start') + ' '  + test.name, ort_grammar_quizzes_path(id: test), class: 'btn btn-info pull-right', target: '_blank' %>
            <% end %>
        <% end %>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3 class="partsofort"><%= t('ort.reading') %></h3>
        <table>
          <tr>
            <td><%= t('ort.total_question') %>:</td>
            <td>30</td>
          </tr>
          <tr>
            <td><%= t('ort.time') %>:</td>
            <td>  30  мин</td>
          </tr>
        </table>
        <% if @readings.empty? %>
          <button class="btn btn-info pull-right">Тест жок</button>
        <% else %>
          <% @readings.each do |test| %>
              <%= link_to t('quiz.start') + ' '  + test.name, ort_reading_quizzes_path(id: test), class: 'btn btn-info pull-right', target: '_blank' %>
          <% end %>
        <% end %>
        <p><a href=""></a></p>
      </div>
    </div>
  </div>

 <!-- <div class="row mycontainer">
    <h2>предметные тесты</h2>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>История</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  60 мин</td>
          </tr>
        </table>
        <div>
          <button class="btn btn-info pull-right">Начать тест</button>
        </div>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>Биология</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  60 мин</td>
          </tr>
        </table>
        <button class="btn btn-info pull-right">Начать тест</button>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>Химия</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  80 мин</td>
          </tr>
        </table>
        <button class="btn btn-info pull-right">Начать тест</button>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>Математика</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  80 мин</td>
          </tr>
        </table>
        <button class="btn btn-info pull-right">Начать тест</button>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>Физика</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  80 мин</td>
          </tr>
        </table>
        <button class="btn btn-info pull-right">Начать тест</button>
        <p><a href=""></a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="ort-part">
        <h3>Английский язык</h3>
        <table>
          <tr>
            <td>Количество вопросов:</td>
            <td>60</td>
          </tr>
          <tr>
            <td>Время:</td>
            <td>  30 мин</td>
          </tr>
        </table>
        <button class="btn btn-info pull-right">Начать тест</button>
        <p><a href=""></a></p>
      </div>
    </div>
  </div>-->
</section>



<%= render 'layouts/footer' %>
<script>

  if ('<%= session[:locale] %>' == 'kg'){
    $('#toggleLocale').attr('checked', true);
  }else if('<%= session[:locale] %>' == 'ru') {
    $('#toggleLocale').attr('checked', false);
  }



    $(function() {
      $('#toggleLocale').change(function() {
        if($(this).prop('checked')){
          window.location.replace("<%= request.base_url %>/set_language/kyrgyz");
        }else{
          window.location.replace("<%= request.base_url %>/set_language/russian");
        }
      })
    })

</script>