<%= render 'layouts/header' %>
<section  class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div id="PageTitle">
          <h3><%= t('ort.practise_online') %>!</h3>
        </div>
        <div id="Path">
          <ul>
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li class="active"><a href=""><%= t('ort.practise_online') %>!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="mycontainer">
    <p>Общереспубликанское тестирование (ОРТ) — обязательный экзамен для  всех абитуриентов, которые поступают в высшие учебные заведения Кыргызстана.</p>
    <p>Общереспубликанское тестирование проводится в Кыргызстане с 2002 года по указу Президента Кыргызской Республики. Проект «Общереспубликанское тестирование» администрируется Центром оценки в образовании и методов обучения (ЦООМО) в тесном сотрудничестве с Министерством образования и науки Кыргызской Республики при финансовой поддержке Агентства США по международному развитию (USAID). С 2011 года результаты Общереспубликанского тестирования стали обязательны для поступления не только на грантовую форму обучения, но и дневную контрактную форму обучения в вузы Кыргызстана.</p>
    <p>Тесты были разработаны независимой тестовой организацией ЦООМО на основе лучших мировых достижений тестологии. Тестирование призвано определить абитуриентов, которые с наибольшей вероятностью могут успешно продолжать обучение в высших учебных заведениях. Тест проводится на кыргызском и русском (до 2013 года и на узбекском) языках и все варианты теста равноценны по сложности. На тестировании абитуриенты должны показать умение мыслить и применять полученные в школе знания.</p>
    <p>От количества баллов, которые абитуриент сможет набрать по ОРТ, зависит, в каком учебном заведении и на какой специальности он сможет продолжить обучение.</p>
    <ul class="list-group">
      <li class="list-group-item active">В тесте могут принимать участие:</li>
      <li class="list-group-item">Учащиеся  11-го класса общеобразовательной школы или  выпускного курса начального профессионального или среднего профессионального учебного заведения
        или</li>
      <li class="list-group-item">окончившие общеобразовательную школу (начальное профессиональное или среднее профессиональное учебное заведение), и</li>
      <li class="list-group-item">не имеющие высшего образования, и</li>
      <li class="list-group-item">не обучающиеся в настоящее время в высшем учебном заведении;
        а также</li>
      <li class="list-group-item">являющиеся гражданами Кыргызской Республики, или</li>
      <li class="list-group-item">являющиеся гражданами Казахстана, России, Беларуси и Таджикистана, если претендуют на обучение по гранту КР на основании международного соглашения о сотрудничестве в области образования.</li>
    </ul>
    <p>Граждане, имеющие среднее образование других государств, могут принять участие в Общереспубликанском тестировании для участия в конкурсе на контрактные места вузов КР.</p>
    <p>Тестирование проходит ежегодно по определенному графику во всех областях республики. Основной тест сдают все абитуриенты. Предметные тесты проводятся по английскому языку, немецкому языку, химии и биологии. Предметный тест оценивается отдельно от основного. Предметный тест сдают   те абитуриенты,  чей выбор специальности требует сдачи названных выше предметов.</p>
    <h5>Основной тест ОРТ длится 3 часа 35 минут и состоит из четырех разделов:</h5>
    <table class="table-bordered">
      <tr>
        <td>Разделы</td>
        <td>Кол-во вопросов</td>
        <td>Время</td>
      </tr>
      <tr>
        <td>
          <h5><b>Математика.</b></h5>
          <p>В этой части теста с помощью вопросов по арифметике, алгебре и геометрии, не выходя за рамки требований школьной программы, проверяется</p>
          <ul class="list-group">
            <li  class="list-group-item active">концептуальное понимание:</li>
            <li  class="list-group-item">умение оперировать понятиями;</li>
            <li  class="list-group-item">использовать модели, диаграммы и др.;</li>
            <li  class="list-group-item">знать и применять определения;</li>
            <li  class="list-group-item">умение делать выводы;</li>
          </ul>
          <ul class="list-group">
            <li  class="list-group-item active">процедурные знания:</li>
            <li  class="list-group-item">определение верного метода решения;</li>
            <li  class="list-group-item">интерпретация информации (таблицы, графики, диаграммы);</li>
            <li  class="list-group-item">алгоритмизация определенных ситуаций;</li>
          </ul>
          <ul class="list-group">
            <li  class="list-group-item active">разрешение задач:</li>
            <li  class="list-group-item">определение и формулировка задачи;</li>
            <li  class="list-group-item">выбор метода решения и его модификация в конкретной ситуации;</li>
            <li  class="list-group-item">применение своих знаний, рассуждений в новой, неожиданной ситуации;</li>
          </ul>
        </td>
        <td>60</td>
        <td>90 мин.</td>
      </tr>
      <tr>
        <td>
          <h5>Словесно-логический тест</h5>
          <b>Аналогии и дополнение предложений.</b>
          <p>Эта часть теста проверяет словесно-логическое мышление на уровне слов, на уровне предложений и на уровне текста. Состоит она из следующих секций: 1. Аналогии 2. Дополнение предложений 3. Чтение и понимание текста.</p>
          <ul class="list-group">
            <li  class="list-group-item active">Аналогии проверяют</li>
            <li  class="list-group-item">богатство используемой тестируемым лексики;</li>
            <li  class="list-group-item">умение анализировать логические отношения между понятиями;</li>
            <li  class="list-group-item">находить зависимость между словами в паре;</li>
            <li  class="list-group-item">умение устанавливать сходство или различие между словами по одному или нескольким признакам;</li>
            <li  class="list-group-item">владение такими мыслительными операциями, как анализ, синтез, сравнение, обобщение, классификация.</li>
          </ul>
          <ul class="list-group">
            <li  class="list-group-item active">Дополнение предложений проверяет</li>
            <li  class="list-group-item">способность понимать логические связи между различными частями высказывания;</li>
            <li  class="list-group-item">богатство словарного запаса.</li>
          </ul>
        </td>
        <td> 30</td>
        <td>  30 мин.</td>
      </tr>
      <tr>
        <td>
          <h5><b>Чтение и понимание на родном языке</b></h5>
          <p>Вопросы раздела "Чтение и понимание" оценивают умение внимательно читать различные тексты объемом от 400 до 850 слов, понимать прочитанное и размышлять о нем. Фрагменты текстов для этого раздела могут быть взяты из различных областей знаний: гуманитарной, социальной, естественно-научой. Используются также повествовательные произведения документальной (редко художественной) прозы. В раздел включены два самостоятельных текста и два связанных между собой фрагмента для сравнения друг с другом. Каждый текст или пара фрагментов сопровождаются вопросами, проверяющими:</p>
          <ul class="list-group">
            <li  class="list-group-item">понимание содержания текста, его концепции;</li>
            <li  class="list-group-item">способность к интерпретации на уровне отрывка, связи отрывков в тексте;</li>
            <li  class="list-group-item">понимание связи содержания текста с реальной жизнью;</li>
            <li  class="list-group-item">богатство и разнообразие словарного запаса;</li>
            <li  class="list-group-item">умение понимать подтекст;</li>
            <li  class="list-group-item">умение определять стиль автора и настроение, выраженное в тексте;</li>
            <li  class="list-group-item">понимание структуры текста и её связи с содержанием.</li>
          </ul>
        </td>
        <td>  30</td>
        <td>  60 мин.</td>
      </tr>
      <tr>
        <td>
          <h5><b>Практическая грамматика родного языка</b></h5>
          <p>Цель данного раздела теста - проверить не знание тестируемым того или иного правила, выученного в школе, а применение языка на практике, оценить с этой точки зрения орфографическую, пунктуационную и речевую грамотность абитуриентов. Тест оценивает умения:</p>
          <ul class="list-group">
            <li  class="list-group-item">применять правила орфографии;</li>
            <li  class="list-group-item">расставлять знаки препинания, учитывая смысл и особенности построения предложения;</li>
            <li  class="list-group-item">строить слова, используя различные словообразовательные единицы;</li>
            <li  class="list-group-item">дополнять предложения подходящими по смыслу словами и оборотами;</li>
            <li  class="list-group-item">распознавать лексическое и грамматическое значения слов;</li>
          </ul>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Всего:</td>
        <td>150</td>
        <td>215 мин.</td>
      </tr>
    </table>
  </div>
</section>
<%= render 'layouts/footer' %>
<button onclick="onClick()">sddddddddd</button>
<script>
  function onClick(){
    $.notifyDefaults({
      type: 'success',
      allow_dismiss: false
    });
    $.notify('You can not close me!');
    console.log("notify me!");
  }
</script>