<%= render 'layouts/header' %>

<section  class="intro">
  <div class="dark">
    <div id="PagePath">
      <div class="container">
        <div id="PageTitle">
          <h3>Математика КГ</h3>
        </div>
        <div id="Path">
          <ul>
            <li><a href=""><i class="fa fa-home"></i></a></li>
            <li><a href="">Окуу ресурстары</a></li>
            <li class="active"><a href="">Математика КГ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mycontainer">

      <% @resources.each do |resource| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe width="90%" height="315" src="<%= resource.video_url %>" frameborder="0" allowfullscreen></iframe>
          </div>
          <h4><%= resource.name %></h4>
        </div>
      <% end %>
      <div class="clearfix"></div>



    </div>
  </div>
</section>
<%= render 'layouts/footer' %>