<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @name %></h1>
<p>
  Сиздин ЖРТ баллыңыз <%= @result %> Азаматсыз!
</p>
</body>
</html>