<%= render 'layouts/header' %>

<section class="intro">
  <div class="dark">
    <div class="container">
      <div class="row ">
        <div class="about">
          <h1>Начни пробный ОРТ прямо сейчас на ORT.KG</h1>
          <!-- Начни пробный ОРТ прямо сейчас на ORT.KG! -->

          <%= form_tag email_ort_ort_mains_path, method: :get  do %>

              <div class="form-group col-xs-12 col-md-4 col-lg-4">
                <%= text_field_tag('name', '',class: 'form-control', placeholder: 'Асан Талиев', required: true) %>
              </div>

              <div class="form-group col-xs-12 col-md-4 col-lg-4">
                <%= email_field_tag('email', '',class: 'form-control', placeholder: 'asan@example.com', required: true) %>
              </div>

              <div class="form-group col-xs-12 col-md-4 col-lg-4">
                <%= submit_tag t('quiz.start_now') %>
              </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/footer' %>