

    <%= form_for [@forum,@question,@answer], remote: true, html: { style: "display:inline;" } do |f| %>
          <ul class="errors"></ul>

          <div class="form-group">

            <div data-no-turbolink>
            <%= f.cktext_area :content,rows: 10 , class: 'ckeditor'%>
              </div>
          </div>
          <%= f.submit t('forum.answers'), :class => 'btn btn-primary' %>
    <% end %>

