<% if @answers.size > 0 %>
    <% @answers.each do |answer| %>
        <hr>
        <div class="forum-post">
          <div class="fm-post-vote">
            <ul>
              <li><%= link_to vote_answer_up_forum_question_answers_path(@forum,@question,answer), remote: true, method: :post ,title: t('forum.answer.vote_up'), onclick: "voteUpAnswer(#{answer.id})" do %><i class="fa fa-caret-up fa-3x"></i><% end %></li>
              <li><span class="answer_vote_<%= answer.id %>"><%= answer.grade %></span></li>
              <li><%= link_to vote_answer_down_forum_question_answers_path(@forum,@question,answer), remote: true, method: :post ,title: t('forum.answer.vote_down'), onclick: "voteDownAnswer(#{answer.id})" do %><i class="fa fa-caret-down fa-3x"></i><% end %></li>
            </ul>
          </div>
          <div class="fm-post-body">
            <p class="lead">
              <a href="#"><%= answer.user.try(:name) %></a>
            </p>
            <p>
              <i class="fa fa-calendar"></i>
              <%= time_ago_in_words(answer.created_at) unless answer.created_at.blank?  %> <%= t('forum.time.ago') %>
            </p>
            <p>
              <%= answer.content.to_s.html_safe %>
            </p>
            <div class="tag-post">
              <% if user_signed_in? && answer.user_id == current_user.id %>
                  <%= link_to t('forum.delete'), [@forum,@question,answer], method: :delete, remote: true, class: "btn btn-primary btn-xs" %>
                  <%= link_to t('forum.edit'), edit_forum_question_answer_path(@forum,@question,answer), remote: true, class: "btn btn-primary btn-xs", data: { toggle: "modal", target: "#ajax-modal" ,'no-turbolink'=>true}  %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- First Comment -->
          <% if answer.answer_comments.count > 0 %>
              <div id="answer-comment-index-<%= answer.id %>">
                <% answer.answer_comments.each do |answer_comment| %>
                    <div id="answer-comment-show-<%= answer_comment.id %>">
                      <div class="media">
                        <div class="media-heading"></div>
                        <div>
                          <p> <%= answer_comment.content.to_s.html_safe %>  <span>-<a href="#"> <%= answer_comment.user.try(:name) %></a>  </span><span> <%= time_ago_in_words(answer_comment.created_at) unless answer_comment.created_at.blank? %> <%= t('forum.time.ago') %></span></p>
                          <div class="comment-meta">
                            <% if user_signed_in? && answer_comment.user_id == current_user.id %>
                                <span><%= link_to t('forum.delete'), [@forum,@question,answer,answer_comment],method: :delete , remote: true %></span>
                                <span><%= link_to t('forum.edit'), edit_forum_question_answer_answer_comment_path(@forum,@question,answer,answer_comment),remote: true %></span>
                            <% end %>
                          </div><!-- comment-meta -->
                        </div><!-- collapse -->
                      </div><!-- media -->
                      <div id="answer-comment-edit-<%= answer_comment.id %>"></div>
                    </div>
                <% end %>
              </div>
          <% else %>
              <div id="answer-comment-index-<%= answer.id %>"></div>
          <% end %>
          <!-- Second Comment --><!-- media -->
          <div id="answer-comment-new-<%= answer.id %>"></div>
          <% if answer.id %>
              <%= link_to t('forum.add_comment'), new_forum_question_answer_answer_comment_path(@forum,@question,answer) ,remote: true%>
          <% end %>
        </div>
    <% end %>
<% end %>
<!--<div class="form-group">
  <%= link_to 'New answer',new_forum_question_answer_path(@forum,@question),class: 'btn btn-info btn-lg' ,remote: true, data: { toggle: "modal", target: "#ajax-modal" ,'no-turbolink'=>true} %>
</div>-->

    <script>
      function voteUpAnswer(id) {
        var value = $('.answer_vote_' + id).text();
        <% if user_signed_in? %>
         value = parseInt(value) + 1;
        <% else %>
         alert('Please sign in!');
        <% end %>
        $('.answer_vote_'+id).text(value);
        value = '';
        console.log("voteUp() " + id);
      }

      function voteDownAnswer(id){
        var value = $('.answer_vote_' + id).text();
        <% if user_signed_in? %>
         value = parseInt(value) - 1;
        <% else %>
         alert('Please sign in!')
        <% end %>
        $('.answer_vote_'+id).text(value);
        value = '';
        console.log("voteDown() " + id);
      }
    </script>
