$("ul.errors").html("");
<% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"));
  <% end %>
<% else %>
  $(".product-index").html("<%= j (render 'index') %>");
  $("#answers_count").html("<%= @total %>");
  CKEDITOR.instances["answer_content"].setData("");
<% end %>
