

<div class="testing-radio">
  <%= form_tag check_algebra_ort_mains_path, remote: :true do %>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'А', checked = false, id: 'А' ) %>
        <%= label_tag "answer_А", @question.a.html_safe, for: 'А' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'Б', checked = false, id: 'Б' ) %>
        <%= label_tag "answer_Б", @question.b.html_safe, for: 'Б' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'В', checked = false, id: 'В' ) %>
        <%= label_tag "answer_В", @question.c.html_safe, for: 'В' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'Г', checked = false, id: 'Г' ) %>
        <%= label_tag "answer_Г", @question.d.html_safe, for: 'Г' %>
      </div>

      <div class="testing-radio-primary">
        <%= radio_button_tag("answer", 'Д', checked = false, id: 'Д' ) %>
        <%= label_tag "answer_Д", @question.e.html_safe, for: 'Д' %>
      </div>

      <center>
        <ul class="pagination">
          <li> <%= link_to "Мурунку суроо", previous_algebra_ort_mains_path, remote: true, class: 'btn btn-primary'%></li>
          <li> <%= submit_tag "Кийинки суроо", class: 'btn btn-primary' %></li>
        </ul>
      </center>


  <% end %>
</div>