<section id="TestingBody" class="question_time_up">
  <section class="headline">
    <div class="container">
      <div class="row">
        <div class="header_right">
          <ul class="testing-btns">
            <li data-toggle="tooltip" title="Тестти Бүтүрүү жана Жыйынтыгын Корүү">
              <%= link_to start_over_ort_grammar_quizzes_path, target: '_blank' do %>
                  <i class="fa fa-external-link"></i><span> Токтот & Жыйынтык </span>
              <% end %>
            </li>
            <li data-toggle="tooltip" title="Сактоо жана Чыгуу">
              <%= link_to result_ort_grammar_quizzes_path, target: '_blank'  do %>
                  <i class="fa fa-external-link"></i><span> Сакта & Чык</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row mycontainer">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="test-qs-bd">
            <div class="test-qs-bd-inner">
              <div class="testing-tools">
              </div>
              <aside id="TestingTimer">
                <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="collapse" data-target="#timer"><%= t('quiz.timer') %></button>
                <div id="timer" class="collapse in">
                  <div id="DateCountdown" data-date="" style="width: 200px; height: 100px;"></div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8  col-md-8 col-lg-8">
        <div class="test-qs-bd">
          <div class="progress">
            <div id="question_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                 aria-value min="0" aria-value max="100" style="width:80%">
            </div>
          </div>
          <div class="test-qs-bd-inner">
            <h4>Грамматика</h4>
            <p><div class="question_content"> <%= @question.content.html_safe %> </div></p>
            <div class="answer_form">
              <%= render 'ort/grammar_quizzes/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>



<script>
  $('div#question_progress').width('<%= progress_question %>%');
  $('div#question_progress').html('<%= (progress_question).to_s + '% Суроо иштелди' %>');

  $("#<%=@id%>").attr('checked', true);

  var startTime = new Date();
  // this set timer count down seconds
  startTime.setSeconds(startTime.getSeconds() + <%= session[:question_timer] %>);

  console.log(getFormattedDate(startTime));

  var time;

  if (localStorage.getItem('grammartest') === null) {
    localStorage.setItem('grammartest', startTime);
    time = getFormattedDate(startTime);
    console.log("new Cookies grammartest setted !");
  } else {

    startTime = new Date(localStorage.getItem('grammartest'));

    console.log("Get grammartest Cookies")
    console.log('target ' + getFormattedDate(startTime));

    time = getFormattedDate(startTime);
  }


  var current_time = (new Date()).getTime();
  console.log("Current Time" + current_time);

  if (startTime < current_time) {
    console.log("Times up!");
    window.location.replace("<%= request.base_url %>/ort/grammar_quizzes/result");

  }

  $('#DateCountdown').data('date', time).TimeCircles({
    count_past_zero: false,
    time: {Days: {show: false}, Hours: {show: false}}
  }).addListener(countdownComplete);
  // $("#CountDownTimer").TimeCircles({count_past_zero: false ,time: { Days: { show: false }, Hours: { show: false } }}).addListener(countdownComplete);

  function countdownComplete(unit, value, total) {
    if (total <= 0 && localStorage.getItem('grammartest') != null) {
      $('.question_time_up').fadeOut('slow').replaceWith("<h2><%= t('quiz.times_up') %></h2>");
      $(this).fadeOut('slow');

      // this destroy timer cookies
      localStorage.removeItem("grammartest")

      window.location.replace("<%= request.base_url %>/ort/grammar_quizzes/result");
    }
    else if (localStorage.getItem('grammartest') == null){
      window.location.replace("<%= request.base_url %>");
    }
  }

  function getFormattedDate(date) {
    var year = date.getFullYear();
    var month = (1 + date.getMonth()).toString();
    month = month.length > 1 ? month : '0' + month;
    var day = date.getDate().toString();
    day = day.length > 1 ? day : '0' + day;
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
    return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
  }
</script>
