<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%=f.email_field :email,class: 'form-control',autocomplete: 'off',placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off",class: 'form-control',placeholder: t('user.password') %>
      <div class="help-block text-right"><%= link_to 'Забыли пароль?', new_password_path('user') %></div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block"><%= t('user.login')%></button>
    </div>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label t('user.remember_me') %>
    </div>
<% end %>
