<%= render 'layouts/header' %>


<section id="entering-section">
  <div class="container">
    <div class="enter-page">
      <div class="sap_tabs">

        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">

          <ul>
            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Катталуу</span></li>
            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Кирүү</span></li>

          </ul>
          <!---->

          <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
            <div class="facts">
              <!--login1-->
              <div class="register">
            <!--    <form>
                  <input placeholder="Name" type="text" required="">
                  <input placeholder="Email Address" type="text" required="">
                  <input placeholder="Password" type="password" required="">
                  <input placeholder="Confirm Password" type="password" required="">
                  <div class="sign-up">
                    <input type="submit" value="Создать профиль"/>
                  </div>
                </form>-->

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                      <%= f.text_field :name , autocomplete: "off", required: true, placeholder: 'ФИО' %>
                      <label class="control-label col-sm-3">Пол </label>
                      <label class="radio-inline">
                        <%= f.radio_button :pol, 'male' %> Мужской
                      </label>
                      <label class="radio-inline">
                        <%= f.radio_button :pol, 'female' %> Женский
                      </label>
                      <%= f.email_field :email, autofocus: true, placeholder: 'E-mail адрес', required: true %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                      <%= f.password_field :password, autocomplete: "off", placeholder: 'Пароль', required: true %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Пароль (подтверждение)", required: true %>
                    <div class="sign-up">
                      <input type="submit" value="<%= t('user.sign_up') %>"/>
                    </div>
                <% end %>

              </div>
            </div>
          </div>

          <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
            <div class="facts">
              <div class="register">
                <!--<form>
                  <input placeholder="Email Address" class="mail" type="text" required="">
                  <input placeholder="Password" class="lock" type="password" required="">
                  <div class="sign-up">
                    <input type="submit" value="Кирүү"/>
                  </div>
                </form>-->
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="col-md-12">
                      Войти через
                      <div class="social-buttons">
                        <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-fb' do %>
                            <i class="fa fa-facebook"></i> Facebook
                        <% end %>
                        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-gp' do %>
                            <i class="fa fa-google-plus"></i> Google
                        <% end %>
                      </div>
                      или
                    </div>
                    <%=f.email_field :email, autocomplete: 'off', class: 'mail', placeholder: 'Email' %>
                    <%= f.password_field :password, autocomplete: "off", class: 'lock',placeholder: t('user.password') %>
                    <br>
                    <%= f.check_box :remember_me %>
                    <%= f.label t('user.remember_me') %>
                    <div class="sign-up">
                      <input type="submit" value="<%= t('user.login') %>"/>
                    </div>
                <% end %>

                <h3><a href="#"></a></h3>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function () {
    $('#horizontalTab').easyResponsiveTabs({
      type: 'default', //Types: default, vertical, accordion
      width: 'auto', //auto or any width like 600px
      fit: true   // 100% fit in a container
    });
  });
</script>
<%= render 'layouts/footer' %>