<section class="headline">
  <div class="container">
    <div class="row">
      <div class="header_right">
        <ul class="testing-btns">
          <li data-toggle="tooltip" title="Тестти Бүтүрүү жана Жыйынтыгын Корүү">
            <%= link_to start_over_ort_mathematic_quizzes_path, target: '_blank'  do %>
                <i class="fa fa-external-link"></i><span> Токтот & Жыйынтык </span>
            <% end %>
          </li>
          <li data-toggle="tooltip" title="Сактоо жана Чыгуу">
            <%= link_to result_ort_mathematic_quizzes_path, target: '_blank'  do %>
                <i class="fa fa-external-link"></i><span> Сакта & Чык</span>
            <% end %>
          </li> </ul>
      </div>
    </div>
  </div>
</section>