<% unless @is_send_email %>
  <div id="container" style="width: 100%;">
    <canvas id="canvas"></canvas>
  </div>

    <script>

      var randomScalingFactor = function() {
        return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
      };
      var randomColorFactor = function() {
        return Math.round(Math.random() * 255);
      };
      var randomColor = function() {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
      };

      var barChartData = {
        labels: ["", "<%= current_user.name %>","Жалпы суроо"],
        datasets: [{
          label: ' Жыйынтык',
          backgroundColor: "rgba(220,220,220,0.5)",
          data: [0,<%=@result%>,<%=@total%>]
        }]

      };

      window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
          type: 'bar',
          data: barChartData,
          options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each bar to be 2px wide and green
            elements: {
              rectangle: {
                borderWidth: 2,
                borderColor: 'rgb(0, 255, 0)',
                borderSkipped: 'bottom'
              }
            },
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: "<%= current_user.name %>"+"  Жыйынтыk !"
            }
          }
        });

      };

    </script>
<% else %>
  <div class="alert alert-success">Сиздин <%= @email %> Электрондук дарегиңизге ЖРТ баллыңыз жиберилди! </div>
<% end %>
<%= link_to 'Негизги бет', root_path, class: 'btn btn-primary' %>

<script>
  // this destroy count down timer cookies
  localStorage.removeItem("ort");
  console.log("ort cookies destroyed!")
</script>