$('.question_content').html("<%= j @question.content.html_safe %>");
$('.answer_form').html("<%= escape_javascript render 'ort/analogy_quizzes/form' %>");
$("#<%=@id%>").attr('checked', true);
$('div#question_progress').width('<%= progress_question %>%');
$('div#question_progress').html('<%= (progress_question).to_s + '% Суроо иштелди' %>');