@charset "utf-8";

@import url("college-font.css");

/* General
--------------------------------------------------------------------------------------------------------------- */
html { overflow-y: auto; overflow-x: hidden;}

/* Let's get this party started */
::-webkit-scrollbar { width: 5px;}

/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

/* Handle */
::-webkit-scrollbar-thumb { background: #34495e; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:window-inactive { background: #34495e;}

body {position: relative;background-color: #fff;}
a {outline:none; text-decoration:none !important;}
a.button {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #D7D7D7 ;
  color: inherit;
  background-color: transparent;
  border-color: inherit;
}
a.button:hover {
  color: #FFFFFF;
  background-color: #3498db;
  border-color: #5B9BBD;
}
.pointer { cursor:pointer;}
textarea {width: 100%;}
th,td {
  padding: 5px;
}
td:first-child {font-weight: bold;}
.btn-primary {background-color: #3498db; color: #fff;}
.btn-primary:hover {background-color: #2980b9;}

img {width: auto;max-width: 100%;height: auto;margin: 0;padding: 0;border: none;line-height: normal;vertical-align: middle;}

.mycontainer {padding: 20px 15px;}
.box{ min-width: 270px; overflow: hidden; padding: 15px; border: 1px solid #D7D7D7;}
.unbox {min-width: 270px; overflow: hidden; padding:20px 20px 10px; background-color: #fff;}
.label-info{margin-right: 5px;}
p {margin: 10px 0;}

ul{list-style: none; padding: 0;}

.modal-body {overflow: hidden;}

body, input, textarea, select{font-family: 'Open Sans', sans-serif;}

h1, h2, h3, h4, h5, h6{line-height: normal; text-align: center; font-weight: normal; text-transform: uppercase;
  font-family: 'Roboto Slab', serif;}
.box-heading {text-align: left;}

.dark { background-color: rgba(0,0,0,0.6); text-align: center; color: #fff;}
input, textarea, select,.label,.navbar,.panel, .form-control,.well,.btn,.img,.thumbnail,.input-group-addon, .navbar-toggle,.nav-tabs>li>a,
.dropdown-menu,.nav-pills>li>a,.list-group-item:first-child,.list-group-item:last-child{border-radius: 0 !important;}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span, .panel-group .panel,.modal-content,.progress{border-radius: 0;}


.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
.accordion, .accordion *, .accordion *::before, .accordion *::after{transition:none !important;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
header {
  width: 100%;

}
.headline{
  border-top: 3px solid rgb(52,152,219);
  padding: 5px 0;
  background: #252C34;
  text-transform: uppercase;
}
.headline .header_left {
  float: left;
  margin-left: 25%;
}
.headline .header_right {
  float: right;
  margin-right: 10%;
}
.headline ul {
  overflow: hidden;
  -webkit-padding-start:0;
  margin: 0;

}
.headline .social-icons,.headline .testing-btns {
  margin-right: 20px;
}
.headline ul li {
  float: left;
  margin-left: 5px;
}
.headline ul li select {
  background-color: #252C34;
  border: none;
  color: #fff;
}
.headline ul li select:hover,header .headline ul li select:focus {
  border:none !important;
}
.headline ul li a {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

.fa-facebook:hover, .fa-vk:hover,.fa-instagram:hover { color: #2980b9;}
.fa-google-plus:hover,.fa-youtube:hover  { color: #e74c3c;}
.fa-odnoklassniki:hover {color: #e67e22;}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
header #main-menu {
  background-color: #F9F9F9;
  color: #888888;
  border-color: #D7D7D7;
}
.navbar{
  padding: 5px 0;
  border:none;
  margin-bottom: 0;
  background-color: inherit;
}
a.navbar-brand { height: auto; padding: 5px;}
.navbar-header a.navbar-brand img {width: 150px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-collapse .navbar-nav>li>a {
  color: inherit;
  text-transform: uppercase;
}
.navbar>.container .navbar-brand:focus, .navbar>.container-fluid .navbar-brand:hover {
  color: #888888;
  text-transform: uppercase;
}

.navbar-collapse .navbar-nav>li>a:focus, .navbar-collapse .navbar-nav>li>a:hover, .navbar-collapse .navbar-nav>.active>a, .navbar-collapse .navbar-nav>.active>a:focus, .navbar-collapse .navbar-nav>.active>a:hover {
  color: #5B9BBD;
  background-color: inherit;
}
.navbar-collapse .navbar-nav>.open>a, .navbar-collapse .navbar-nav>.open>a:focus, .navbar-collapse .navbar-nav>.open>a:hover {
  color: #5B9BBD;
  background-color: inherit;
  border-bottom: none;
}
.navbar-nav>li>.dropdown-menu {
  background: rgba(255,255,255,0.9);
  padding: 0;
  border: none;
  margin-top: 8px;
}
.nav>li>a {padding: 17px 10px;}
.dropdown-menu>li>a {
  color: #444;
  border-bottom: 1px solid transparent;
  padding: 5px 20px;
  font-size: 16px;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li.active>a,.dropdown-menu>li.active>a:hover{
  color: #5B9BBD;
  border-bottom: 1px solid #5B9BBD;
  background-color: inherit;
}

/* Navbar search */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);


  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  z-index: 999999;
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

/* Navbar Login */
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 48%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-gp{
  color: #fff;
  background-color:#c0392b;
}
.btn-gp:hover{
  color: #fff;
  background-color:#e74c3c;
}
.intro {
  background:  image_url('exam_.jpg')  center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro .dark  .about {
  width: 80%;
  margin: 0 auto;
  padding: 7% 10% 19% 10%;
}
.intro .dark  .about h1 {
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 40px;
}
.intro .dark .about form {
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 50px;
}
.intro .dark .about form input {
  display: inline-block;
  padding:10px 30px;
  border:1px solid;
  color:inherit;
  background-color:transparent;
  border-color:inherit;
}
.intro .dark .about form button {
  display: inline-block;
  padding:5px 30px;
  border:1px solid;
  color:inherit;
  background-color:transparent;
  border-color:inherit;
}
.intro .dark .about form button:hover{color:#FFFFFF; background-color:#3498db; border-color:#5B9BBD;}


/* Pages Header */
#PagePath {width: 100%;}
#PagePath #PageTitle h3 {text-align: left; padding-top: 20px;font-weight: bold;color: #FFF;}
#PagePath #Path {display: block;margin-bottom: 20px;}
#PagePath #Path>ul {overflow: hidden;padding: 0;margin: 0;}
#PagePath #Path>ul>li {position: relative; display: inline-block;float: left;padding-right: 10px;}
#PagePath #Path>ul>li:last-child>a:after {content: '';}
#PagePath #Path>ul>li>a{color: #ccc; font-weight: 300;font-style: italic;font-size: 12px;}
#PagePath #Path>ul>li>a:after {top: 4px; right: 2px; content: "\f101"; position: absolute; font-family: "FontAwesome"; font-size: 10px; line-height: 15px;}
#PagePath #Path>ul>li.active> a {color: #5B9BBD;}




#contact-us>.modal-dialog {background: image-url('wqe.jpg') center no-repeat; background-size: cover;}
#contact-us>.modal-dialog>.modal-content {background-color: rgba(255,255,255,0.9);}

footer {background: #252C34; color: #AAAAAA; width: 100%;}
footer a {color: #fff;}
footer .f-list li {display: inline-block;}
footer .linklist li {margin-bottom:10px;}
footer .linklist li:last-child {margin-bottom:0;}

footer .foot {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 16px 0;
}
/* Pages
--------------------------------------------------------------------------------------------------------------- */
/* SignUp & SignIn */
#entering-section {
  background: image-path('onlineeducation2.jpg') center  no-repeat;
  text-align: center;
  font-family:Nunito-Light;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.enter-page{
  width:32%;
  background-color: rgba(0, 0, 0, 0.5);
  margin:50px auto;
}

/*----sap-----*/
.enter-page .sap_tabs {
  margin: 0 auto;
  padding:50px 0px;
  text-align: center;
  -webkit-appearance: none;
}

.enter-page .facts{
  padding: 7% 0% 0% 0%;
}

.enter-page .resp-tab-item{
  background: transparent;
  border:none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding:5px 30px;
  margin:5px;
  display: inline-block;
  list-style: none;
  outline: none;
  border:2px solid #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
}

.enter-page .resp-tab-item:hover {
  border:2px solid #fff;
  text-shadow: none;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.enter-page .resp-tab-active {
  border:2px solid #fff;
  text-shadow: none;
  color: #fff;
  background:rgba(2, 2, 2, 0.60);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
  display: block;
}

/*---------*/
.enter-page .facts .register input[type="email"],.register input[type="password"],.register input[type="text"]  {
  outline: none;
  font-size:16px;
  font-family:Nunito-Light;
  color: #fff;
  padding: 15px 10px;
  border:none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 80%;
  margin: 0 0 15px 0 ;
  background:rgba(2, 2, 2, 0.60);
}

.sign-up input[type="submit"] {
  background:rgba(2, 2, 2, 0.60);
  color: #fff;
  border: 2px solid #fff;
  font-size: 18px;
  padding: 15px 10px 15px 15px;
  width: 85%;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin-top:24px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.sign-up input[type="submit"]:hover{
  color: #fff;
  background:#3498db;
}
::-webkit-input-placeholder{
  color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

h3{
  padding-top:35px;
}

.register a{
  color:#fbfbdd;
  font-size: 18px;
  font-family:Nunito-Light;
}

/*--responsive--*/

@media screen and (min-width:1280px){
  .enter-page{	width:32%;	}
  .resp-tab-item{	font-size: 22px;	border:1px solid #fff;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1280px){
  .enter-page{	width:32%;	}
  .resp-tab-item{	font-size: 22px;	border:1px solid #fff;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1080px){
  .enter-page{	width:34%;	}
  .resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:14px;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:1024px){
  .enter-page{	width:34%; margin:25px auto;	}
  .resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:14px;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:800px){
  .enter-page{	width:42%;margin:25px auto;	}
  .resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:14px;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;		font-size: 18px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:768px){
  .enter-page{	width:46%;margin:20px auto;	}
  .resp-tab-item{	font-size: 18px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:14px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 18px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:640px){
  .enter-page{	width:48%;margin:20px auto;	}
  .resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:600px){
  .enter-page{	width:55%;margin:20px auto;	}
  .p_tabs {	padding:25px 0px; }
  .resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px;	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:480px){
  .enter-page{	width:58%;margin:20px auto;	}
  .sap_tabs {	padding:25px 0px; }
  .resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:414px){
  .enter-page{	width:70%;margin:20px auto;	}
  .sap_tabs {	padding:25px 0px; }
  .resp-tab-item{	font-size: 17px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 17px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:375px){
  .enter-page{	width:80%;margin:20px auto;	}
  .sap_tabs {	padding:25px 0px; }
  .resp-tab-item{	font-size: 16px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 16px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
}

@media screen and (max-width:320px){
  .enter-page{	width:90%;margin:20px auto;	}
  .sap_tabs {	padding:25px 0px; }
  .resp-tab-item{	font-size: 16px;	border:1px solid #fff;	}
  .register input[type="text"],.register input[type="password"] {	font-size:13px; margin: 0 0 12px 0 ; padding:10px;	}
  .sign-up input[type="submit"] {	border: 1px solid #fff;	font-size: 16px; 	padding: 10px 10px 10px 10px;	margin-top:20px;	}
  .resp-tab-item:hover {	border:1px solid #fff;	}
  .resp-tab-active {	border:1px solid #fff;	}
  .register a{	font-size: 14px;	}
}
/* SignUp & SignIn End*/



/* Forum */
#forum-ask { margin: 40px 0; background-color: #3498db; color: #fff; font-weight: bold;text-shadow: 1px 1px #666; white-space: normal;}
#fm-ask {color: #000;}
.fm-theme { padding-right: 20px; }
.forum-in { padding: 30px 0; background-color: #fff; }
.tag-list {  padding: 5px; background-color: #fff; margin-bottom: 0; border:none;}
.tag-list>.btn-xs {margin: 2px -1px 0;}
.tag-post {padding-top: 10px;}
.tag-post>.btn-xs {background-color: transparent; color: #74718f; border: none;}
.tag-post>.btn-xs>b {font-weight: 500;}
.tag-post>.btn-xs:hover {color: #000;}
.input-group-addon:first-child {background-color: #3498db; color: #fff;}
.input-group-addon:first-child:hover {background-color: #2980b9;}
.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

.logo img {
  width: 75px;
  float: left; }
.logo h1 {
  float: left;
  margin: 0 0 0 1em;
  text-transform: uppercase;
  font-size: 1.35em;
  padding-top: 1.1em;
  color: #34324b; }
.logo h1 span {
  font-weight: 400; }

#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding-top: 15px; }
#timeline a {
  text-decoration: none; }
#timeline:after {
  content: "";
  width: 1px;
  background: 1px #e6e7e9;
  position: absolute;
  top: 5em;
  bottom: 4em;
  left: 3em;
  z-index: 0; }
#timeline .listing {
  background: #FFF;
  border: 1px solid #e6e7e9;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  display: table;
  width: 96%;
  transition: all .3s ease-in-out; }
#timeline .listing img, #timeline .listing .info, #timeline .listing .fm-answer {
  display: table-cell;
  vertical-align: middle;
  font-size: .9em;
  color: #74718f; }
#timeline .listing .image_wrapper {
  width: 60px; }
#timeline .listing .image_wrapper img {
  width: 60px;
  display: block;
  margin: 0 auto;
}
#timeline .listing .info {
  line-height: 1.25;
  width: 640px;
  padding-left: 25px; }
#timeline .listing .info .fm_title {
  font-weight: 700;
  color: #34324b;
  font-size: 1.5em; }
#timeline .listing .info .ask_info {
  color: #74718f;
  font-size: .9em;
  display: block; }
#timeline .listing .info .ask_info span {
  margin: 0 .75em; }
#timeline .listing .fm-answer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75em;
  position: relative;
  white-space: nowrap;
  padding-top: 0.6em;
  width: auto; }
#timeline .listing:hover {
  cursor: pointer;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1); }
#timeline .date {
  display: inline-block;
  padding: 0.6rem 0;
  width: 100px;
  background: #FFF;
  border: 1px solid #E9E9E9;
  font-weight: 700;
  font-size: 0.65rem;
  text-align: center;
  margin-bottom: 1.5rem;
  z-index: 2;
  position: relative;
  margin: 1em 0 2em 0; }

.load_more {
  padding-bottom: 30px;
  text-align: center; }
.load_more .button {
  font-weight: bold;
  border: 2px solid #3498db;
  outline: none;
  padding: 1em 3.5em;
  text-align: center;
  background: transparent;
  color: #3498db; }

.fm-hovereffect {
  margin: 10px;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.fm-hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.fm-hovereffect img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fm-hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.fm-hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 5px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fm-hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.fm-hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.fm-hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.fm-hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* forum-post-comment */
.forum-post {
  overflow: hidden;
}

.forum-post .fm-post-vote {float: left; width: 10%;min-width: 25px;}
.forum-post .fm-post-vote>ul>li>a{color: #888;}
.forum-post .fm-post-vote>ul>li>a:hover{color: #3498db;}
.forum-post .fm-post-vote>ul>li>span {font-size: 20px; font-weight: bold;color: #888;}
.forum-post .fm-post-body {float: left; width: 89%;}

.post-content {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

.post-content .comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-content .media {
  margin-bottom: 10px;
  padding-left: 10px;
}
.post-content .media:hover {
  border-left: 1px dashed #888;
}

.post-content .media-heading {
  font-size: 12px;
  color: grey;
}

.post-content .comment-meta a {
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}

.form-new-question-help>li{
  padding: 5px;
  padding-left: 10px;

}

.form-new-question-help>li:before {
  content: "♦"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: blue; /* Or a color you prefer */
}




/* ORT */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px !important; }
.toggle.ios .toggle-handle { border-radius: 20px !important; }

.ort-part {

  overflow: hidden;
  margin: 15px 0;
  padding: 10px;
  background: #ecf0f1 center no-repeat;
}

.partsofort {
  height: 54px;
}

.btn-ort-start {
  margin-left: 5px;
}

.ort-hovereffect {
  margin: 15px 0;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.ort-hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 30px 20px;
}

.ort-hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ort-hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.ort-hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.ort-hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.ort-hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.ort-hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.ort-hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


#TestingBody {
  background-color: #ecf0f1;
  height: 100%;
}

/* Timer */
.time_circles {
  position: relative;
  width: 100%;
  height: 100%;
}

.time_circles > div {
  position: absolute;
  text-align: center;
}

/**
 *  Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Century Gothic', Arial;
  line-height: 1;
}

/**
 *  Time numbers, ie: 12
 **/
.time_circles > div > span {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Century Gothic', Arial;
  line-height: 1;
  font-weight: bold;
}

#TestingTimer {
  background-color: #fff;
  padding: 5px;
}/* TimerEnd */
#CountDownTimer {
  margin: 0 auto;
}
.testing-radio div {
  clear: both;
  overflow: hidden;
}

.testing-radio label {
  width: 100%;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.testing-radio input[type="radio"]:empty {
  display: none;
}

.testing-radio input[type="radio"]:empty ~ label {
  padding: 0 10px 0 45px;
  position: relative;
  line-height: 30px;
  text-indent: 5px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testing-radio input[type="radio"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
}

.testing-radio input[type="radio"]:hover:not(:checked) ~ label {
  color: #888;
}

.testing-radio input[type="radio"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.testing-radio input[type="radio"]:checked ~ label{
  color: #777;
}

.testing-radio input[type="radio"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.testing-radio input[type="radio"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.testing-radio-primary input[type="radio"]:checked ~ label:before {
  color: #fff;
  background-color: #3498db;
}
.testing-list-questions {
  height: 50vh;
  overflow-y: scroll;
}
.test-qs-bd {

  background-color: #fff;
  margin: 10px  auto;
  border: none;
}
.test-qs-bd-inner{
  overflow: hidden;
  padding: 30px;

}
.TestingLangText {
  height: 95vh;
  overflow-y: scroll;
}


/* ORT end */


/* UserProfile */
#profile {
  width: 100%;
}

#profile-body {
  padding: 0 10px;
  min-height: 568px;
  background-color: #ecf0f1;
}

@media(min-width:768px) {
  #profile-body {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
#profile nav {
  background: #F9F9F9 url() 0 0 no-repeat;
}
#profile .navbar-top-links {
  margin-right: 0;
}

#profile .navbar-top-links li {
  display: inline-block;
}

#profile .navbar-top-links li:last-child {
  margin-right: 15px;
}

#profile .navbar-top-links li a {
  color: #999;
  padding: 15px;
  min-height: 50px;
}

#profile .navbar-top-links li a:hover,#profile .navbar-top-links li a:active,#profile .navbar-top-links li a:focus {
  color: #3498db;
  background-color: transparent;
}

#profile .navbar-top-links .dropdown-menu{
  background-color: rgba(255,255,255,0.9);
}
#profile .navbar-top-links .dropdown-menu li {
  display: block;
}

#profile .navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

#profile .navbar-top-links .dropdown-menu li a {
  padding: 10px;
  min-height: 0;
}

#profile .navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}


#profile .navbar-top-links .dropdown-alerts {
  width: 240px;
  min-width: 0;
}

#profile .navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
  background: #1ABB9C;
}

#profile .sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.profile_div {
  padding: 25px 0;
  overflow: hidden;
}

.profile_pic {
  width: 35%;
  float: left;
}

.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}

.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}

.profile_info h2 {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  font-weight: 300;
}


#profile .sidebar ul li {
  border-bottom: 1px solid transparent;
  border-right: 3px solid #1bcba5;
  border-bottom:1px solid #fff;
}

#profile .sidebar ul li a {
  color: #1bcba5;
  padding: 15px 20px;
}

#profile .sidebar ul li a.active {
  background-color: #eee;
}

#profile .sidebar .arrow {
  float: right;
}

#profile .sidebar .fa.arrow:before {
  content: "\f104";
}

#profile .sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

#profile .sidebar .nav-second-level li,
#profile .sidebar .nav-third-level li {
  border-bottom: 0!important;
}

#profile .sidebar .nav-second-level li a {
  padding-left: 37px;
  border-bottom: 1px solid #fff;
}

#profile .sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media(min-width:768px) {
  #profile .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 55px;
  }

  #profile .navbar-top-links .dropdown-messages,
  #profile .navbar-top-links .dropdown-tasks,
  #profile .navbar-top-links .dropdown-alerts,
  #profile .navbar-top-links .dropdown-user {
    margin-left: auto;
    margin-top: 6px;
  }
}



.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}


.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #55DEA8;
}

.panel-green .panel-heading {
  border-color: #55DEA8;
  color: #fff;
  background-color: #55DEA8;
}

.panel-green a {
  color: #55DEA8;
}

.panel-green a:hover {
  color: #2ecc71;
}

.panel-red {
  border-color: #F36174;
}

.panel-red .panel-heading {
  border-color: #F36174;
  color: #fff;
  background-color: #F36174;
}

.panel-red a {
  color: #F36174;
}

.panel-red a:hover {
  color: #e74c3c;
}

.panel-yellow {
  border-color: #FF7659;
}

.panel-yellow .panel-heading {
  border-color: #FF7659;
  color: #fff;
  background-color:#FF7659;
}

.panel-yellow a {
  color: #FF7659;
}

.panel-yellow a:hover {
  color: #e67e22;
}

.panel-purple {
  border-color: #9771BD;
}

.panel-purple .panel-heading {
  border-color: #9771BD;
  color: #fff;
  background-color:#9771BD;
}

.panel-purple a {
  color: #9771BD;
}

.panel-purple a:hover {
  color: #9b59b6;
}

.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px;
  margin-bottom: 10px;
}

.x_title .filter {
  width: 40%;
  float: right;
}

.x_title h4 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.x_title span {
  color: #BDBDBD;
}
.panel_toolbox {
  float: right!important;
  min-width: 70px;
}
.panel_toolbox>li {float: left;}

.panel hr {
  width: 100%;
  height: 1px;
  border:none;
  background-color: #c5c5c5;
}

.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}

.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.media .date {
  background: #ccc;
  width: 52px;
  margin-right: 10px;
  padding: 5px;
}
.media .date .month {
  margin: 0;
  text-align: center;
  color: #fff;
}
.media .date .day {
  text-align: center;
  color: #fff;
  font-size: 27px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}
.event .media-prof-body a.title {
  font-weight: bold;
}

.event .media-prof-body p {
  margin-bottom: 0;
}

.card {margin: 10px 0;background-color: #fff; padding: 15px 5px;border-bottom: 1px solid #ccc;}
.card .card-img-top {max-width: 100%;}
.card .card-block .card-text {text-indent: 15px;padding: 0 5px ;}
.card .card-block .card-blockquote footer {height: 50px;overflow: auto;background: #fff;}
.card .card-block .card-btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 5px 10px;
  background-color: transparent;
}
.card .card-block .card-btn:hover {
  color: #FFFFFF;
  background-color: #3498db !important;
  border-color: #5B9BBD;
}
/* UserProfile end*/
/* UserProfile Settings */
.ProfileSettings{
  padding:50px 0;
}
.ProfileSettings h1{
  font-size:35px;
  text-align:center;
  text-transform:uppercase;
  color:#1bcba5;
  margin-bottom: 50px;
  letter-spacing:1px;
}
.ProfileSettings .content{
  width: 100%;
}

/*-- start tabs --*/
.port-left{
  float:left;
  width:25%;
}

/******** SAP ************/
.sap_tabs{
  clear:both;
  padding: 0em;
}
.tab_box{
  background:#fd926d;
  padding: 2em;
}
.top1{
  margin-top: 2%;
}
.resp-tabs-list {
  text-align:center;
  list-style: none;
  margin: 0em 0;
}
.resp-tab-item{
  color: #1bcba5;
  padding: 18px 0;
  background: #ebebeb;
  font-size: 17px;
  cursor: pointer;
  display: block;
  margin: 0px 0px;
  list-style: none;
  font-weight: 600;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-left: 8px solid rgba(87, 220, 212, 0.43);
  border-top: 2px solid #F5F4F4;
  border-right: 2px transparent;
  border-bottom: 2px transparent;
}
.resp-tab-active {
  text-shadow: none;
  color: #a9b2ba;
  background: #fff;
  border-left:8px solid #57dcd4;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;

}
li.resp-tab-item:nth-child(2) {
  margin-top:-5px;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
  display: block;
}
.port-right {
  background: #fff;
  padding: 22px 30px;
  min-height: 393px;
  float: left;
  width: 64.4%;
}
.profile-content h3{
  text-align: left;
  padding-top: 20px;
  color: #9a9a9a;
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 500;
}
.profile-content .form-control {
  width: 76.9%;
  padding: 9px 12px;
  font-size: 14px;
  color: #9a9a9a;
  background: #efefef;
  border:none;
  margin-left: -3px;
  font-family: 'Lato', sans-serif;
}
select.btn.btn-default.button-one {
  background: #dbdbdb;
  color: #909090;
  font-size: 16px;
  padding: 7px 0px;
  width: 16%;
  font-weight: 500;
  border:none;
}
.radio ,.radio2{
  position: relative;
  display:inline-block;
  margin-left:15px;
}

.radio ,.radio2{
  padding-left:22px;
  line-height: 25px;
  color: #404040;
  cursor: pointer;
}
.radio  input[type="radio"],.radio2  input[type="radio"]{
  position: absolute;
  left: -9999px;
}
.radio-btns label  {
  font-size: 14px;
  color: #000;
  padding: 0px;
}
.radio i ,.radio2 i {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 21px;
  height: 21px;
  outline: none;
  border: none;
  background: #fff;
  cursor:pointer;
}
.radio i,.radio2 i  {
  border-radius: 50%;
}
.radio input + i:after,.radio2 input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.radio input + i:after, .radio2 input + i:after  {
  content: '';
  top: 6px;
  left: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.radio input:checked + i:after,.radio2 input:checked + i:after{
  opacity: 1;
}
.radio {
  width: 13%;
  float: left;
  background: #3498db;
  margin: 0px 15px 0 0 !important;
  padding: 7px 20px 4px 5px;
  border-bottom: 2px solid #2980b9;
  border-right: 2px solid #2980b9;
}
.radio2 {
  width: 13%;
  float: left;
  background: #e74c3c;
  margin: 0px 15px 0 0 !important;
  padding: 6px 20px 0px 5px;
  border-bottom: 2px solid #c0392b;
  border-right: 2px solid #c0392b;

}
/*** normal state ***/
.radio i ,.radio2 i {
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after,.radio2 input + i:after {
  content: '';
  background: url("../img/Profsettings/tick-mark1.png") no-repeat center;
  top: 1px;
  left: 2px;
  width: 16px;
  height: 16px;
  text-align: center;
}
.radio input:checked + i ,.radio2 input:checked + i {
  border: none;
  background: #fff;
}

.profile-bd-group {
  width: 100%;
  margin-bottom: 15px;
}


.profile-bd-icon i {
  padding-top: 2px;
  text-align: center;
  color: #999;
  background:  #dbdbdb;
  width: 54px;
  height: 36px;
  display: inline-block;
  border:none;
}
.profile-bd-icon {
  float:left;
}
.profile-bd-form{
  float: left;
  width: 85%;
  border:none;
}
.profile-bd-form input[type="text"] {
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
  color: #9a9a9a;
  font-family: 'Lato', sans-serif;
  width: 92%;
  background:#efefef;
}

.profile-content{
  border-bottom:5px solid #f5f5f5;
  padding-bottom:25px;
}
.update{
  float:right;
  margin-top:25px;
  width:22%;
}
.update a{
  background: #1bcba5;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 8px 0px;
  border-bottom: 2px solid #20987E;
  border-right: 2px solid #20987E;
  font-weight: 600;
  display:block;
  text-align:center;
}
.single-bottom ul li{
  list-style:none;
  padding: 9px 20px;
}
.single-bottom ul li input[type="checkbox"] {
  display: none;
}
.single-bottom ul li input[type="checkbox"]+label {
  position: relative;
  padding-left: 31px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #9a9a9a;
  font-family: 'Lato', sans-serif;
}
.single-bottom ul li input[type="checkbox"]+label span:first-child {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 2px solid #1BCBA5;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.single-bottom ul li input[type="checkbox"]:checked+label span:first-child:before {
  content: "";
  background:url(../img/Profsettings/11.png)no-repeat;
  position: absolute;
  left: 2px;
  top: 2px;
  font-size: 10px;
  width:16px;
  height:16px;
}
.interests h3 ,.social-life h3,.work-play h3{
  color:#1bcba5;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}
.social-life h4{
  color: #464646;
  font-size: 16px;
  line-height: 2em;
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
}
.social-life p{
  color: #9a9a9a;
  font-size: 14px;
  line-height: 2em;
  font-family: 'Lato', sans-serif !important;
  margin:25px 0;
}
.social-life a{
  background:#1bcba5;
  color:#fff;
  font-size:18px;
  float:left;
  padding:9px 20px;
  margin-right:10px;
  border-bottom: 2px solid #20987E;
  border-right: 2px solid #20987E;
}
.work-play h4{
  text-align: left;
  color: #9a9a9a;
  font-size: 15px;
  margin-bottom: 6px;
  font-weight: 500;
}
.work-play input[type="text"],.work-play input[type="password"] {
  border: none;
  outline: none;
  padding: 9px 12px;
  font-size: 14px;
  color: #9a9a9a;
  width: 92%;
  background: #efefef;
  margin-bottom: 13px;

}
.social-life a:hover{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  background: #1bcba5;
  border:none;
}
.update a:hover{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  background: #1bcba5;
  border:none;
}
/*-- responsive media queries --*/
@media (max-width: 1680px){
  .resp-tab-item {
    padding: 17.3px 0;
  }
}
@media (max-width: 1600px){
  .resp-tab-item {
    padding: 18px 0;
  }
}
@media (max-width: 1440px){
  .content {
    margin: 0 auto;
  }
  .port-right {
    min-height: 396px;
  }
}
@media (max-width: 1366px){
  .content {
    margin: 0 auto;
  }
  .port-right {
    min-height: 394px;
  }
  .port-right {
    padding: 21px 30px;
  }
}
@media (max-width: 1280px){
  .content {
    width: 46%;
    margin: 0 auto;
  }
  .resp-tab-item {
    padding: 18px 0 17.2px 0;
  }
}
@media (max-width: 1080px){
  .content {
    width: 54%;
    margin: 0 auto;
  }
  .resp-tab-item {
    padding: 18px 0 18px 0;
  }
  .port-right {
    min-height: 396px;
  }
}
@media (max-width: 1024px){
  .content {
    width: 57%;
    margin: 0 auto;
  }
  .port-right {
    min-height: 394px;
  }
  .ProfileSettings h1 {
    margin-bottom: 36px;
  }
  .ProfileSettings h1 {
    font-size: 30px;
  }
  .ProfileSettings {
    padding: 60px 0;
  }
}
@media (max-width: 991px){
  .content {
    width: 62%;
    margin: 0 auto;
  }
  .ProfileSettings h1 {
    margin-bottom: 55px;
  }
  .port-right {
    min-height: 404px;
  }
  .port-right {
    width: 64.9%;
  }
}
@media (max-width: 800px){
  .content {
    width: 77.5%;
    margin: 0 auto;
  }
  .resp-tab-item {
    padding: 17px 0 17px 0;
  }
  .port-right {
    padding: 18px 30px;
  }
  .port-right {
    min-height: 402px;
  }
}
@media (max-width: 768px){
  .content {
    width: 79.4%;
    margin: 0 auto;
  }
  .port-right {
    min-height: 399px;
  }
  .ProfileSettings h1 {
    margin-bottom: 75px;
  }
  .ProfileSettings {
    padding: 90px 0;
  }
  .port-right {
    padding: 35px 30px;
  }
  .resp-tab-item {
    padding: 20px 0 21px 0;
  }
  .port-right {
    min-height: 400px;
  }
}
@media (max-width: 736px){
  .content {
    width: 83.4%;
    margin: 0 auto;
  }
  .ProfileSettings {
    padding: 65px 0;
  }
  .ProfileSettings h1 {
    margin-bottom: 35px;
  }
  .resp-tab-item {
    padding: 18px 0;
  }
  .port-right {
    padding: 21px 30px;
  }
  .radio {
    width: 14%;
  }
}
@media (max-width: 667px){
  .content {
    width: 84%;
    margin: 0 auto;
  }
  .resp-tab-item {
    padding: 17px 0;
  }
  .port-left {
    float: left;
    width: 24%;
  }
  .port-right {
    padding: 18px 18px;
  }
  .port-right {
    width: 69.2%;
  }
  select.btn.btn-default.button-one {
    font-size: 14px;
    padding: 6px 0px;
    width: 15%;
  }
  .form-control {
    width: 76.9%;
    padding: 6px 12px 7px 12px;
    font-size: 14px;
  }
  .email-form input[type="text"], .cell-form input[type="text"] {
    padding: 7px 12px 7px 12px;
  }
  .email-icon span {
    background: url('../images/email.png') no-repeat 18px 8px #dbdbdb;
    width: 52px;
    height: 31px;
  }

  .update {
    margin-top: 13px;
    width: 22%;
  }
  .port-right {
    min-height: 378px;
  }
  .cell-icon span {
    background: url('../images/cell.png') no-repeat 18px 8px #dbdbdb;
    width: 52px;
    height: 31px;
  }
}
@media (max-width: 640px){
  .port-right {
    width: 69%;
  }
  .update a {
    padding: 6px 0px;
  }
  .port-right {
    min-height: 372px;
  }
}
@media (max-width: 600px){
  .resp-tab-item {
    font-size: 16px;
  }
  .port-left {
    float: left;
    width: 23%;
  }
  .work-play input[type="text"], .work-play input[type="password"] {
    padding: 7px 12px;
  }
  .work-play h4 {
    font-size: 14px;
  }
  .social-life p {
    margin: 15px 0;
  }
  .social-life a {
    font-size: 16px;
    padding: 6px 15px;
  }
  .single-bottom ul li input[type="checkbox"]+label {
    font-size: 14px;
  }
  .port-right {
    min-height: 360px;
  }
  .resp-tab-item {
    padding: 18px 0;
  }
  .email-form, .cell-form {
    float: left;
    width: 83%;
  }
  .resp-tab-item {
    padding: 19px 0;
  }
  .port-right {
    min-height: 369px;
  }
}
@media (max-width: 568px){
  .port-right {
    padding: 15px 18px;
  }
}
@media (max-width: 480px){
  .content {
    width: 92%;
    margin: 0 auto;
  }
  .port-left {
    float: left;
    width: 26%;
  }
  .port-right {
    width: 65%;
  }
  select.btn.btn-default.button-one {
    width: 19%;
  }
  .form-control {
    width: 71.9%;
  }
  .email-form, .cell-form {
    float: left;
    width: 79%;
  }
  .resp-tab-item {
    padding: 18px 0;
  }
  .port-right {
    padding: 14px 18px;
    min-height: 365px;
  }
  .update {
    width: 27%;
  }
  .radio, .radio2 {
    width: 17%;
  }
  .ProfileSettings h1 {
    font-size: 26px;
  }
}
@media (max-width: 414px){
  .port-left {
    float: left;
    width: 100%;
  }
  img.lady {
    float: left;
    width: 31%;
  }
  li.resp-tab-item:nth-child(2) {
    margin-top: 0;
  }
  .resp-tab-item {
    float: left;
    width: 32%;
  }

  .resp-tab-item {
    padding: 17px 0;
  }
  li.resp-tab-item:nth-child(6) {
    width: 97.7%;
  }
  .port-right {
    width: 90%;
  }
  p.footer {
    width: 94%;
  }
  .ProfileSettings {
    padding: 40px 0;
  }
  .ProfileSettings h1 {
    font-size: 24px;
  }
  .resp-tab-item {
    padding: 18px 0 17.5px 0;
  }
}
@media (max-width: 384px){
  img.lady {
    float: left;
    width: 100%;
  }

  .resp-tab-item,	li.resp-tab-item:nth-child(6) {
    padding: 16px 0 16px 0;
    width: 97.5%;
  }
  .profile-content h3 {
    margin-bottom: 8px;
  }
  .port-right {
    width: 89.3%;
  }
}
@media (max-width: 375px){
  .resp-tab-item {
    padding: 15px 0 15px 0;
  }

  .port-right {
    width: 89%;
  }
  .ProfileSettings h1 {
    font-size: 23px;
  }
}
@media (max-width: 320px){


  .resp-tab-item {
    font-size: 14px;
  }
  .resp-tab-item {
    padding: 9px 0 9px 0;
  }
  .resp-tab-item {
    padding: 16px 0 16px 0;
    width: 97.5%;
  }
  .content {
    width: 91%;
  }
  .port-right {
    width: 86.8%;
  }
  select.btn.btn-default.button-one {
    width: 22%;
  }
  .form-control {
    width: 67.9%;
  }
  .email-icon span ,.cell-icon span{
    width: 50px;
  }
  .radio, .radio2 {
    width: 20%;
  }
  .update {
    width: 29%;
  }
  .ProfileSettings h1 {
    font-size: 20px;
  }
  .single-bottom ul li {
    padding: 9px 5px;
  }
  .email-form input[type="text"], .cell-form input[type="text"] {
    width: 88%;
  }
}
/* UserProfile Settings End */

/* Share */
.fab {
  cursor: pointer;
}
.fab-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
  transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}
.fa-stack {
  line-height: 40px;
}

#share {
  z-index: 9999;
  overflow: hidden;
  position: relative;
}
#share .show-on-hover:hover > ul.dropdown-menu {
  display: block;

}
#share .show-on-hover {
  position: fixed;
  bottom: 90px;
  right: 10px;
}
#share .btn-io{
  height: 40px;
  width: 40px;
  padding: 0 !important;
  box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#share .btn-io .fa-stack {width: 1em; height: 2em;}
#share .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
  margin-bottom: -5px;
  padding-bottom: 30px;
}
#share .dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
}
#share .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 50px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: center;
  list-style: none;
  background-color: rgba(255, 255, 255, 0) !important;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !important;
}
#share .fa-iox{
  font-size: 22px;
}

#share .dropdown-menu > li > a {
  display: block;
  padding: 0;
  padding-top: 4px;
  margin-top: 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  background: #fff;
  white-space: nowrap;
  width: 40px;
  height: 40px;
  border: solid 1px #ccc;
  /* border-radius: 50px; */
  font-size: 21px;
  box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
#share .dropdown-menu > li:first-child>a {
  background: #e62117 !important;
  color: #fff !important;
}
#share .dropdown-menu > li:last-child>a {
  background: #d73d32;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(2)>a {
  background: #ca222a;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(3)>a {
  background: #004879;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(4)>a {
  background: #55779b;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(5)>a {
  background: #fb801f;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(6)>a {
  background: #1da1f2;
  color: #fff;
}
#share .dropdown-menu > li:nth-child(7)>a {
  background: #3f5c9a;
  color: #fff;
}
#share .fa-iosm{

  margin-top: 7px;
}



/* Back to Top */
.cd-container {width: 90%; max-width: 768px; margin: 2em auto;z-index: 9999;}
.cd-container::after { /* clearfix */ content: ''; display: table; clear: both;}
.cd-top {  display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(52,152,219,0.8) image-url('cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden; opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {  /* the button becomes visible */  visibility: visible;  opacity: 1;}
.no-touch .cd-top:hover {  background-color: #e86256;  opacity: 1;}


/* Large desktop */
@media (min-width: 1024px) {

}
@media (min-width: 980px) and (max-width: 1023px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}


/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {


}

/* Landscape phones and down */
@media (max-width: 480px) {
  /* IndexPage */
  .mycontainer {padding: 5px;}
  .container {padding: 0 5px !important;}
  .row {margin: 0 -2px !important;}
  .box {padding: 8px;}
  article{margin-bottom: 15px;}
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding:  0 5px;
  }
  .progress {height: 14px;margin-bottom: 5px;}
  .progress-bar {font-size: 10px;line-height: 14px;}
  .intro .dark .about { width: auto; padding: 5% 10% 25% 10% !important;}
  .intro .dark .about h1 { font-size: 34px;}
  #introblocks ul li {width: 100%;}
  #introblocks ul li article {position: relative;}
  #introblocks ul li article>a {top: 10px;}
  #introblocks ul li article>a>i { margin-top: 0;}
  #introblocks ul>li>article>h4 { font-size: 25px; padding-top: 110px;}
  h1 {font-size: 25px !important;}
  h2 {font-size: 22px !important;}
  h3 {font-size: 18px !important;}
  h4 {font-size: 16px !important;}
  h5 {font-size: 14px !important;}
  p  {font-size: 12px !important;}
  .ft1-2 {width: 100%;}


  /* Forum */
  #timeline .listing {padding: 0.5em;}
  #timeline .listing .image_wrapper { margin-right: 0; }
  #timeline .listing .image_wrapper img { width: 50px; }
  #timeline .listing .info { width: 100%; padding: .4em 0 0 0; }
  #timeline .listing .info .fm_title { font-size: 1em; }
  #timeline .listing .fm-answer { display: none; }

  /* TestingORT */
  #TestingBody .headline .header_right .testing-btns li a span {
    display: none;
  }
  .testing-tools {
    overflow: hidden;
    position: relative;
  }
  #TestingTimer {
    background-color: #fff;
    padding: 5px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 99999;
  }
  #CountDownTimer { margin: 0 auto; }
  .test-qs-bd {height: 60vh;overflow-y: scroll;margin: 5px 0;}
  .test-qs-bd-inner {	padding: 10px;}
  #TestingBody .testing-radio input[type="radio"]:empty ~ label {
    padding: 0 5px 0 40px;
    line-height: 20px;
    text-indent: 5px;
    margin-top: 5px;
    font-size: 12px;
  }
  .TestingLangText {
    font-size: 10px;
    height: 40vh;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .row {margin: 0 -10px;}
  .nav { float: none; text-align: center; }
  .nav a { margin: 0 .5em; }
  #login-dp{ background-color: inherit;color: #fff;}
  #login-dp .bottom{ background-color: inherit; border-top:0 none;}
  /* IndexPage */
  .logo { display: block; margin: 0 auto; text-align: center; }
  .logo img { float: none; }
  .logo h1 { float: none; margin: 0; font-size: 1.1em; }
  .box { padding: 7px;}
  .intro .dark .about { width: auto; padding: 5% 10% 15% 10%;}
  .intro .dark .about h1 {font-size: 37px;}
  #introblocks ul li article>a>i { margin-top: -20px;}
  #introblocks ul>li>article>h4 { font-size: 19px; padding-top: 30px;}
  h1 {font-size: 26px !important;}
  h2 {font-size: 24px !important;}
  h3 {font-size: 21px !important;}
  h4 {font-size: 19px !important;}
  h5 {font-size: 14px !important;}
  .course { width: 50% !important;}
  .bg-imged p { font-size: 14px;}

  /* Forum */
  .fm-theme {width: 50%;}
  #timeline .listing .image_wrapper { margin-right: 1em; }
  #timeline .listing .image_wrapper img { width: 50px; }
  #timeline .listing .info { width: 100%; padding: .4em 0 0 0; }
  #timeline .listing .info .fm_title { font-size: 1.10em; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { display: block;}
  .nav>li>a { padding: 10px 5px;}
  .navbar-nav>li>.dropdown-menu {margin-top: 5px;}
  .navbar-header,.navbar-brand  {float: none;}
  .navbar-header .navbar-brand img {margin: 0 auto;}
  .cd-top { right: 20px; bottom: 20px;}
  #share .show-on-hover {right: 20px; bottom: 70px;}
  /* IndexPage */
  #introblocks ul>li>article>h4 { font-size: 16px; padding-top: 20px;}
}
@media (min-width: 992px) and (max-width: 1999px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { display: block;}
  .nav>li>a { padding: 10px 5px;}
  /* IndexPage */
  #introblocks ul>li>article>h4 { font-size: 16px;}
  #articles,#news {width: 50%;}
}
@media (min-width: 1200px) {
  header .headline .header_left {margin-left: 10%;}
  .cd-top { height: 50px; width: 50px; right: 30px; bottom: 30px;}
  /* SHare */
  .fa-stack {line-height: 50px;}
  #share .show-on-hover {right: 30px;}
  #share .btn-io{ height: 50px; width: 50px; padding: 0 !important; box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);}

}

/* Masonry - Salvattore CSS */

/* Base styles */
.column { float: left;}
.size-1of4 { width: 25%;}
.size-1of3 { width: 33.333%;}
.size-1of2 { width: 50%;}
#masonry { position: relative; overflow: hidden;}
/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
  #masonry[data-columns]::before { content: '1 .column'; }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
  #masonry[data-columns]::before { content: '2 .column.size-1of2'; }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
  #masonry[data-columns]::before { content: '2 .column.size-1of2'; }
}

@media screen and (min-width: 851px) and (max-width: 1024px) {
  #masonry[data-columns]::before { content: '2 .column.size-1of2'; }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  #masonry[data-columns]::before { content: '3 .column.size-1of3'; }
}

@media screen and (min-width: 1200px) {
  #masonry[data-columns]::before { content: '4 .column.size-1of4'; }
}