

<%= form_for [@forum,@question,@answer,@answer_comment], remote: true, html: { style: "display:inline;" } do |f| %>
    <div class="form-group">
      <%= f.label :content, class:"control-label" %>
      <%= f.text_area :content,class: 'form-control' %>
    </div>
    <%= f.submit t('forum.add_comment'),class: 'btn btn-primary pull-right' %>
<% end %>