<% @answer_comments.each do |answer_comment| %>
    <div id="answer-comment-show-<%= answer_comment.id %>">
      <div class="media">
        <div class="media-heading"></div>
        <div>
          <p>  <%= answer_comment.content.to_s.html_safe %>  <span>-<a href="#"> <%= answer_comment.user.try(:name) %></a>  </span><span> <%= time_ago_in_words(answer_comment.created_at) unless answer_comment.created_at.blank? %> <%= t('forum.time.ago') %></span></p>
          <div class="comment-meta">
            <% if user_signed_in? && answer_comment.user_id == current_user.id %>
                <span><%= link_to t('forum.delete'), [@forum,@question,@answer,answer_comment],method: :delete , remote: true %></span>
                <span><%= link_to t('forum.edit'), edit_forum_question_answer_answer_comment_path(@forum,@question,@answer,answer_comment),remote: true %></span>
            <% end %>
          </div><!-- comment-meta -->
        </div><!-- collapse -->
      </div><!-- media -->
      <div id="answer-comment-edit-<%= answer_comment.id %>"></div>
    </div>
<% end %>