
<footer>
  <div class="container">
    <div class="foot">
      <p>ort jonundo kaida kantip dayardanuunu kantip tapshyruunu bilbei jatasyzby? anda biz sizge jardam berebiz , "ORT.kg" bul saitta ort jonundo baardyk maalymattty taba alasyz.</p>
      <center>
        <ul class="f-list">
          <li><a data-toggle="modal" data-target="#contact-us" class="pointer">&#9997;Байланышуу</a></li>
          <li><a href="#" class="pointer">&reg;Катталуу</a></li>
          <li><a href="#" class="pointer">&copy;Copyright</a></li>
        </ul>
      </center>
    </div>
  </div>
</footer>

<a href="#0" class="cd-top">Top</a>

<script>
  var locale = document.getElementById('language');
  locale.value = "<%= session[:locale] %>";


  function setLocale() {
    var language = locale.value;

    console.log(language);

    if (language == 'kg'){
      console.log("Change locale to kg!");
      window.location.replace("<%= request.base_url %>/set_language/kyrgyz");
    }else{
      console.log("Change locale to ru");
      window.location.replace("<%= request.base_url %>/set_language/russian");
    }
    console.log("Set locale function worked!")
  }
</script>



