<header>
  <div class="headline">
    <div class="container">
      <div class="row">
        <div class="header_left">
          <ul>
            <li>
              <select name="language" id="language" onclick="setLocale()">
                <option value="ru">РУ</option>
                <option value="kg">KГ</option>
              </select>
            </li>
            <li><a data-toggle="modal" data-target="#registr-user"><i class="fa fa-user-plus"></i></a></li>
            <li><a data-toggle="modal" data-target="#contact-us"><i class="fa fa-question-circle"></i></a></li>
          </ul>
        </div>
        <div class="header_right">
          <ul class="social-icons">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-vk"></i></a></li>
            <li><a href=""><i class="fa fa-odnoklassniki"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Registration Modal -->
  <div class="modal fade" id="registr-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <form class="form" role="form" method="post" action="sign-up" accept-charset="UTF-8">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Фамилия Имя" required>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Пол </label>
                <label class="radio-inline">
                  <input type="radio" id="femaleRadio" value="Female"> Мужской
                </label>
                <label class="radio-inline">
                  <input type="radio" id="maleRadio" value="Male"> Женский
                </label>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="E-mail адрес" required>
                <span class="help-block">example@example.com</span>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль (подтверждение)" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div><!-- Registration Modal End-->
  <!-- Contact Modal -->
  <div class="modal fade" id="contact-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Обратная связь</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" method="post">
            <fieldset>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user fa-2x"></i></span>
                <div class="col-md-8">
                  <input id="fname" name="name" type="text" placeholder="Имя" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user fa-2x"></i></span>
                <div class="col-md-8">
                  <input id="lname" name="name" type="text" placeholder="Фамилия" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o fa-2x"></i></span>
                <div class="col-md-8">
                  <input id="email" name="email" type="text" placeholder="E-mail адрес" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o fa-2x"></i></span>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We willgetbacwithin 2 business days." rows="7" required></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Отправить сообщение</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div id="main-menu">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><!--<img src="img/LogoORT.png" alt="" style="width: 90px;">--><%= image_tag 'LogoORT.png',style: 'width: 90px;' %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><%= link_to t('navbar.home'), root_path %></li>
                <li class=""><%= link_to t('navbar.jrt'), ort_infos_path  %></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('navbar.okuu_resurs') %><span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">

                    <% Subject.where(locale: session[:locale]).each do |subject| %>
                        <li><%=link_to subject.name, resource_subjects_path(id: subject.id) %></li>
                    <% end %>
                  </ul>
                </li>
                <li><%= link_to 'Онлайн-тест', orts_path %></li>
                <li><%= link_to 'ФОРУМ', forums_path  %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#search"><i class="fa fa-search"></i> <%= t('navbar.search') %></a></li>
                <% if user_signed_in? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i class="fa fa-sign-in"></i> <%= current_user.first_name unless current_user.first_name.nil? %> </b> <span class="caret"></span></a>
                      <ul id="login-dp" class="dropdown-menu">
                        <li>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <%= link_to 'Профиль', profiles_path, class: 'btn btn-primary btn-block' %>
                                <%= link_to t('user.logout'), destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, class: 'btn btn-danger btn-block' %>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i class="fa fa-sign-in"></i> <%= t('user.login') %></b> <span class="caret"></span></a>
                      <ul id="login-dp" class="dropdown-menu">
                        <li>
                          <div class="row">
                            <div class="col-md-12">
                              Войти через
                              <div class="social-buttons">
                                <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-fb' do %>
                                    <i class="fa fa-facebook"></i> Facebook
                                <% end %>
                                <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-gp' do %>
                                    <i class="fa fa-google-plus"></i> Google
                                <% end %>
                              </div>
                              или
                              <%= render 'devise/sessions/form' %>

                            </div>
                            <div class="bottom text-center">
                              <a class="pointer" data-toggle="modal" data-target="#registr-user"><b><%= t('user.sign_up') %></b></a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                <% end %>
              </ul>
              <div id="search">
                <button type="button" class="close">×</button>
                <form>
                  <input type="search" value="" placeholder="введите ключевые слова здесь" />
                  <button type="submit" class="btn btn-primary"><%= t('navbar.search') %></button>
                </form>
              </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header>
