<!DOCTYPE html>
<html>
<head>
  <title>Diplomka</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!--
<div id="user_nav">
  <% if user_signed_in? %>
      Signed in as <%= current_user.name %>. This cannot be cheese?
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>
-->


<%= yield %>
<!--

<% if user_signed_in? %>
  <h2>Your Friends</h2>
  <ul>
    <% for friendship in current_user.friendships %>
        <li>
          <%= h friendship.friend.name %>
          <%= image_tag friendship.friend.image %>
        </li>
    <% end %>
  </ul>
<% end %>
-->

</body>
</html>
